<div class="feed-element" id="message-<%= message.id %>">
    <div class="media-body ">
        <small class="pull-right"><%= time_ago_in_words(message.created_at) %> ago</small>
        <strong><%= [message.user.first_name, message.user.last_name].join(' ') %> </strong> <br>
        <%= link_to edit_order_message_path(order_id: message.chatroom_order_id, id: message.id), class: "pull-right", remote: true do %>
        	<small class="text-link">Edit</small>
        <% end %>
        <small class="text-muted"><%= message.created_at %></small>
        <div id="msg_body_<%= message.id %>">
	        <%= render '/messages/message_body', message: message %>
	  	</div>
    </div>
</div>