<div class="row" >
  <div class="col padding-left">
    <h1><b>CREATE AN ITEM CLASS</b></h1><br/>
  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="make-green"><b>Product Information</b></h3><br/>
  </div>
</div>
<!--<div class="row">
  <div class="col padding-left">
    <h3 class="inline-text">This items is..</h3>
    <button class="btn btn-nav">FOR EVERYONE</button>
    <button class="btn btn-nav">FOR A HOTEL BRAND</button>
  </div>
</div>

<div class="row">
  <div class="col padding-left padding-top-1">
    <h3>Which brand is this for?</h3>
    <div class="input-group search-bar-padding">
      <input  type="text" autocomplete="off" placeholder="Search for the brand name." id="filterSearch" onkeyup="onSearchFilter();" class="form-control glow-input"/>
    </div>
  </div>
</div>-->

<!--Brands-->
<div class="row">
  <div class="col padding-left">
    <h5 >Which brand is this for?</h5>
    <div class="input-group search-bar-padding">
      <select class="brandpicker form-control glow-input" data-live-search="true" name="order[brand_id]" id="order_brand_id" >
        <option></option>
        <% if @brands.present? %>
            <% @brands.each do |brand| %>
                <option value="<%= brand.id %>"><%= brand.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4 class="inline-text"><b>Choose from the applicable branches</b></h4>
    <a class="btn btn-outline-dark btn-padding-margin" style="padding: .2% 1% !important;" onclick="selectAllBranches();"> Select All </a>
    <a class="btn btn-outline-dark btn-padding-margin" style="padding: .2% 1% !important;" onclick="unselectAllBranches();"> Unselect All </a>
  </div>
</div>

<div class="row" style="padding-top: .8%;" >
  <div class="col search-bar-padding text-justify item-list" id="brand-list">

  </div>
</div>

<!--Categories-->
<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Product Category</h4>
    <div class="input-group search-bar-padding">
      <select class="categories form-control glow-input" data-live-search="true" name="category_id[]" id="category_id" multiple>
        <option></option>
            <% Category.all.each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
      </select>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Product Name</h4>
    <div class="input-group search-bar-padding">
      <input type="text" class="form-control glow-input" name="product_name" id="product_name"/>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Select Vendor</h4>
    <div class="input-group search-bar-padding">
      <select class="categories form-control glow-input" data-live-search="true" name="vendor_id[]" id="vendor_id" multiple>
        <option></option>
        <% if @vendors.present? %>
            <% @vendors.each do |vendor| %>
                <option value="<%= vendor.id %>"><%= vendor.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Specifications</h4>
    <div class="input-group search-bar-padding">
      <textarea class="form-control glow-input" id="specs" name="specs" rows="3"></textarea>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Vendor Price Quotes</h4>
    <div class="input-group search-bar-padding">
      <textarea class="form-control glow-input" id="vendor_quote_prices" name="vendor_quote_prices" rows="3"></textarea>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Notes</h4>
    <div class="input-group search-bar-padding">
      <textarea class="form-control glow-input" id="notes" name="notes" rows="3"></textarea>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4>Stock/Quantity</h4>
    <div class="input-group search-bar-padding">
      <input type="number" class="form-control glow-input" name="quantity" id="quantity"/>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left" >
    <span class="float-left"><h5>Attributes</h5></span>
    <a class="btn btn-outline-dark float-right" onclick="product_attributes();" >Add Attributes</a>
    <% if DefaultAttribute.all.size > 0 %>
        <div class="padding-top-1" id="default_product_attributes" style="padding-top: 5%;">
          <% DefaultAttribute.all.each do |da| %>
              <div class="row form-group">
                <div class="col-md-4 nopadding">
                  <div class="form-group">
                    <input type="hidden" class="form-control" id="order[field_name][]" name="order_field_name" value="<%= da.field_name %>" />
                    <b><%= da.field_name %></b>
                  </div>
                </div>
                <div class="col-md-6 nopadding">
                  <div class="form-group">
                    <input type="<%= da.input_type.downcase %>" class="form-control default_attributes" id="order[field_value][]" name="order_field_value" value="" placeholder="Field Value">
                  </div>
                </div>
                <div class="col-md-2 nopadding">
                  <div class="form-group">
                    <!--<button class="btn btn-outline-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="fa fa-trash-o" aria-hidden="true"></span> </button>-->
                  </div>
                </div>
                <div class="clear"></div>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="padding-top-1" id="product_attributes">

    </div>
  </div>

</div>

<script>
    $(function() {
        $('select.brandpicker').on('change', function(e){
            getAddress(this.value)
        });

        function getAddress(id) {
            $.ajax({
                method: "GET",
                url: "/api/simple/addresses/branches?brand_id="+id
            }).done(function( data ) {
                $('#brand-list').html('');
                all_address_list = [];
                data.forEach(function (item, index, arr) {
                    all_address_list.push(item['id']);
                    brand_list = $('#brand-list').html();
                    $('#brand-list').html(brand_list + "<a class='btn btn-nav select-items' onclick='selectAndUnselect(" + item['id'] + ", $(this) )'> " + item['state'] + " - " +  item['city'] + "</a>&nbsp;");
                    console.log(item);
                });
            });

        }

    });
</script>