
<%= render "inventories/modal/restock" %>
<div class="row" >
  <div class="col padding-left">
    <h1><b> VIEW ALL CURRENT ITEMS AND SHELLS</b></h1><br/>
  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="make-green"><b>Current Stocks</b></h3><br/>
  </div>
</div>

<!--Categories-->
<!--<div class="row" >
  <div class="col padding-left">
    <h4>Search for the Category Name:</h4>
    <div class="input-group search-bar-padding">
      <select class="categories form-control glow-input" data-live-search="true" name="category_id[]" id="category_id" multiple>
        <option></option>
        <%# Category.all.each do |category| %>
            <option value="<%#= category.id %>"><%#= category.name %></option>
        <%# end %>
      </select>
    </div>
  </div>
</div>-->


<div class="row" style="padding-top: 1%;">
  <div class="col padding-left">

    <%= link_to 'Add New Product', add_item_inventories_path, :class=>"btn  btn-dark float-left padding-btn" %>
    <table class="table" id="example">
      <thead class="thead-dark thead-yellow">
      <tr>
        <th scope="col">#</th>
        <th></th>
        <th scope="col">Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <% @inventories.each do |invent|%>
          <tr>
            <th scope="row"><%= invent.id %></th>
            <td><img src="<%= check_picture_url(invent) %>" alt="features" border="0" width="64px"  style="display:block; border:none; outline:none; text-decoration:none;" class="features"></td>
            <td><%= invent.product.name %></td>
            <td><%= invent.total_quantity %></td>
            <td><%= invent.product.price %></td>
            <td><button class="btn btn-primary" onclick="restockItem(<%= invent.id %>, '<%= invent.product.name %>');">Restock</button></td>
            <!--<td><button class="btn btn-nav-selected btn-nav-selected-circle" ng-click="orderDetails()"><i class="icon ion-plus-round"></i></button></td>-->
          </tr>
      <% end %>


      </tbody>
    </table>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "order": [[ 0, "desc" ]],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );

                                column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                            } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );
    } );

    function restockItem(id, item_name){
        console.log(id);
      $('.item-name').html(item_name);
      $('#inventory_id').val(id);
      $('#restockItem').modal('show');
    }
</script>