<%= form_for search_results_path, html: { autocomplete: "off", class: "navbar-form2" } do |f| %>
    <div class="form-group">
        <%= f.text_field :search_term, class: 'form-control', placeholder: 'Enter a search term...', value: params[:search_term], required: "" %>
        <%= f.hidden_field :filter_by, value: params[:filter_by] %>
        <%= f.hidden_field :sort_by, value: params[:sort_by] %>
        <%= f.button class: 'btn btn-search' do %>
            <i class="fa fa-search"></i>
        <% end %>
    </div>
<% end %>