<div class="row">
  <div class="col">
    <h3 class="text-dark">I am looking for</h3>
  </div>
</div>
<div class="row mb-4 position-relative">
  <div class="col-7">
    <%= form_with url: search_results_path, method: :get, local: true, html: { autocomplete: "off" } do |f| %>
      <div class="input-group">
        <%= f.text_field :search_term, class: 'form-control', placeholder: 'Enter a search term...', value: params[:search_term] %>
        <div class="input-group-append">
          <%= f.button class: 'btn border-0 btn-dark text-uppercase', style: 'right: 0px; z-index: 1;' do %>
            Search
          <% end %>
        </div>
      </div>
      <div class="form-group row mt-1">
        <div class="col-4 d-flex flex-row">
          <%= f.label "Filter by:", class: 'text-12 mt-1' %>
          <%= f.select :filter_by,
            SearchResult::FILTERABLE.collect { |f| [f.capitalize, f] }, 
            { include_blank: true, selected: params[:filter_by] },
            class: 'form-control form-control-sm border-0 col ml-1',
            style: 'height: 25px;',
            onchange: "this.form.submit()"
          %>
        </div>
        <div class="col-4 d-flex flex-row">
          <%= f.label "Sort by:", class: 'text-12 mt-1' %>
          <%= f.select :sort_by,
            ['Most Recent', 'Oldest'].collect { |f| [f, f.parameterize.underscore] }, 
            { include_blank: true, selected: params[:sort_by] },
            class: 'form-control form-control-sm border-0 col ml-1',
            style: 'height: 25px;',
            onchange: "this.form.submit()"
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>