<div class="row mb-4" style="position:relative;">
  <div class="col-5">
    <%= form_with url: search_results_path, method: :get, local: true, class: 'col' do |f| %>
      <div class="input-group">
        <%= f.text_field :search_term, class: 'form-control', placeholder: 'Enter a search term...' %>
        <div class="input-group-append">
          <%= f.button class: 'btn border-0 btn-dark', style: 'right: 0px;' do %>
            Search <i class="fa fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <% if  @results.each do |result| %>
      <div class="card border-secondary mb-3" style="box-shadow: 0 5px 15px rgba(33, 33, 33, .4);" >
        <div class="card-body bg-light text-secondary">
          <div class="row">
            <div class="col-8">
              <p class="lead">
                <%= result.brand_branches %>
              </p>
              <h4><%= result.brand_name %></h4>
              <p class="lead">
                ORDER TICKET #<%= result.id %>
              </p>
            </div>
            <div class="col-4 text-right">
              <a href="<%= orders_path(:id => result.id )%>" class="btn btn-outline-dark btn-padding-margin">View</a>
            </div>
          </div>
        </div>
        <div class="card-footer" style="text-transform: uppercase;">
          <%= result.created_date %> BY <%= result.created_by_name %>
        </div>
      </div>
    <% end.empty? %>
      Nothing found
    <% end %>
  </div>
</div>