<div class="modal fade bd-example-modal-lg modal-gray" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="newPassword" style="background: #0C0C0C;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">

        <%= image_tag("logo.png", class: 'img-logo-login') %>

            <h1 class="header-login">Forgot your password?</h1>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form form-modal-padding' }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group row">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', placeholder: 'E-mail' %>
            </div>
            <div class="form-group row">
              <%= f.submit "Send me reset password instructions", :class => 'btn btn-dark col' %>
            </div>

            <div class="form-group row">
              <%= render "devise/shared/links" %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#newPassword').modal({backdrop: 'static', keyboard: false})
    });
</script>