<!-- Side Navbar -->

<nav class="side-navbar shrink">
  <div class="side-navbar-wrapper ">
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <ul id="side-main-menu" class="side-menu list-unstyled">
        <li><a href="index.html"> <i class="fa fa-th-large"></i>DASHBOARD</a></li>
        <li>
          <%= link_to chatroom_orders_path do %>
            <i class="fa fa-comment-o"></i>
            MESSAGES
          <% end %>
        </li>
        <li><a href="<%= orders_path %>"> <i class="fa fa-line-chart"></i>SALES</a></li>
        <li><a href="<%= inventories_path %>"> <i class="fa fa-archive"></i>INVENTORY</a></li>
        <li><a href="tables.html"> <i class="fa fa-pencil"></i>DESIGN</a></li>
        <li><a href="tables.html"> <i class="fa fa-users"></i>MANAGE</a></li>
        <li><a href="tables.html"> <i class="fe fe-document"></i>ACCOUNTING</a></li>
        <li><a href="#search"> <i class="fa fa-search"></i>SEARCH</a></li>
        <% if user_signed_in? %>
            <li><a href="<%= destroy_user_session_path %>" data-method="delete"> <i class="fa fa-sign-out"></i>LOGOUT</a></li>
        <% else %>

            <li><a href="<%= new_user_session_path %>" > <i class="fa fa-sign-in"></i>LOGIN</a></li>
        <% end %>

      </ul>
    </div>
    <div class="sidenav-header d-flex align-items-center justify-content-center sidebar-footer">
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo"><img src="/assets/avatar-1.jpg" alt="person" class="img-fluid rounded-circle"></div>
    </div>
  </div>
</nav>