<table class="table table-hover">
    <tbody>
        <% roots.each do |root| %>

            <% 
                if root.attachment_data.present?
                    attachment_data = JSON.parse(root.attachment_data, object_class: OpenStruct) 
                    mime_type = attachment_data.original.metadata.mime_type
                else
                    attachment_data = ''
                    mime_type = ''
                end
            %>
            
            <tr>
                <td class="contact-type" style="padding-right: 0;">
                    <%= link_to mime_type === '' ? admin_document_upload_path(root) : admin_document_upload_doc_preview_path(root), class: "root", remote: true  do %>
                        <% if mime_type === 'application/pdf' %>
                            <i class="fa fa-file-pdf-o fa-4x text-danger" aria-hidden="true"></i>
                        <% elsif mime_type === 'application/zip' %>
                            <i class="fa fa-file-zip-o fa-4x text-danger" aria-hidden="true"></i>
                        <% elsif mime_type.include? "image" %>
                            <i class="fa fa-file-image-o fa-4x text-warning" aria-hidden="true"></i>
                        <% elsif mime_type.include? "sheet" %>
                            <i class="fa fa-file-excel-o fa-4x text-success" aria-hidden="true"></i>
                        <% elsif mime_type.include? "officedocument" %>
                            <i class="fa fa-file-word-o fa-4x text-info" aria-hidden="true"></i>
                        <% elsif mime_type === 'text/plain' %>
                            <i class="fa fa-file-excel-o fa-4x text-success" aria-hidden="true"></i>
                        <% elsif mime_type === '' %>
                            <i class="fa fa-folder fa-4x text-muted" aria-hidden="true"></i>
                        <% else %>
                            <i class="fa fa-file-code-o fa-4x text-muted" aria-hidden="true"></i>
                        <% end %>
                    <% end %>
                </td>
                <td class="project-title">
                    <%= link_to mime_type === '' ? admin_document_upload_path(root) : admin_document_upload_doc_preview_path(root), class: "root", remote: true  do %>
                        <%= attachment_data.present? ? attachment_data.original.metadata.filename : root.description %>
                        <br>
                        <small>Created <strong><%= root.created_at.strftime("%d-%b-%C %I:%M %P") %></strong></small>
                    <% end %>
                </td>
                <td class="project-completion">
                        <small>Shared To</small>
                        <div>
                        <% root.document_shares.each do |share| %>
                            <span class="badge"><%= share.user.present? ? share.user.full_name : share.patient.full_name %></span>
                        <% end %>
                        </div>
                </td>
                <td class="project-actions">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" x-placement="bottom-start" style="position: absolute; top: 18px; left: -68px; will-change: top, left;">
                        <% if mime_type === '' %>
                            <li>
                                <%= link_to 'Share', admin_document_upload_edit_folder_path(root), class: "dropdown-item", remote: true %>
                            </li>
                            <li>
                                <%= link_to 'Edit', admin_document_upload_edit_folder_path(root), class: "dropdown-item", remote: true %>
                            </li>
                            <li><a href="#" class="dropdown-item">Delete</a>
                            </li>
                        <% else %>
                            <li>
                                <%= link_to 'Share', admin_document_upload_share_file_path(root), class: "dropdown-item", remote: true %>
                            </li>
                            <li><a href="#" class="dropdown-item">Delete</a>
                            </li>
                        <% end %>
                    </ul>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<script>
    $('.root').click(function() {
        $('#documents').addClass('sk-loading');
    });
</script>