<% if !documents.subs.present? %>
    <div class="alert alert-warning">
        There are no files for this folder yet.
    </div>
<% else %>
    <table class="table table-hover">
        <tbody>
            <% documents.subs.each do |document| %>

                <% 
                    if document.attachment_data.present?
                        attachment_data = JSON.parse(document.attachment_data, object_class: OpenStruct) 
                        mime_type = attachment_data.original.metadata.mime_type
                    else
                        attachment_data = ''
                        mime_type = ''
                    end
                %>

                <tr>
                    <td class="contact-type" style="padding-right: 0;">
                        <%= link_to mime_type === '' ? admin_document_upload_path(document) : admin_document_upload_doc_preview_path(document), class: "root", remote: true  do %>
                            <% if mime_type === 'application/pdf' %>
                                <i class="fa fa-file-pdf-o fa-4x text-danger" aria-hidden="true"></i>
                            <% elsif mime_type.include? "image" %>
                                <i class="fa fa-file-image-o fa-4x text-warning" aria-hidden="true"></i>
                            <% elsif mime_type.include? "sheet" %>
                                <i class="fa fa-file-excel-o fa-4x text-success" aria-hidden="true"></i>
                            <% elsif mime_type.include? "officedocument" %>
                                <i class="fa fa-file-word-o fa-4x text-info" aria-hidden="true"></i>
                            <% elsif mime_type === '' %>
                                <i class="fa fa-folder fa-4x text-muted" aria-hidden="true"></i>
                            <% end %>
                        <% end %>
                    </td>
                    <td class="project-title">
                        <%= link_to mime_type === '' ? admin_document_upload_path(document) : admin_document_upload_doc_preview_path(document), class: "root", remote: true  do %>
                            <%= attachment_data.present? ? attachment_data.original.metadata.filename : document.description %>
                            <br>
                            <small>Created <strong><%= document.created_at.strftime("%d-%b-%C %I:%M %P") %></strong></small>
                        <% end %>
                    </td>
                    <td class="project-completion">
                            <small>Shared To</small>
                            <div>
                            <% document.document_shares.each do |share| %>
                                <span class="badge"><%= share.user.full_name %></span>
                            <% end %>
                            </div>
                    </td>
                    <td class="project-actions">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user" x-placement="bottom-start" style="position: absolute; top: 18px; left: -68px; will-change: top, left;">
                            <li><a href="#" class="dropdown-item">Share</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Edit</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

<% end %>
<script>
    $('.root').click(function() {
        $('#documents').addClass('sk-loading');
    });
</script>