<div id="message_items">
  
    <div style="float: left;">
      <a class="btn btn-default" data-toggle="dropdown" id="#msg_items" href="#" aria-expanded="false" style="background-color: white; color: #212529;">
        <i class="fa fa-tasks"></i>
        Items
      </a>
      <ul id="msg_items" class="dropdown_scroll2 dropdown-menu dropdown-messages" aria-labelledby="msg_items" style="margin-left: 10px;"> 
        <% if order.order_entries.present? %>
          <% order.order_entries.each do |oe| %>
            <li>
              <div class="dropdown-messages-box">
                <div class="media-body">
                  <%= link_to order_entry_load_item_messages_path(chatroom_order_id: order, order_entry_id: oe), remote: true do %>
                    <strong><%= oe.product[:name] %></strong>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="divider"></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div style="float: left; margin-left: 2px;">
      <a class="btn btn-default" data-toggle="dropdown" id="attachments" href="#" aria-expanded="false" style="background-color: white; color: #212529;">
        <i class="fa fa-paperclip"></i>
        Attachments
      </a>
      <ul id="msg_attachments" class="dropdown_scroll dropdown-menu dropdown-messages" aria-labelledby="attachments" style="margin-left: 10px; left: -100px;"> 
          <% chatroom.messages.each do |message| %>
            <% if message.attachment_data? %>
            <li>
                  <div class="dropdown-messages-box">
                    <div class="media-body">
                      <small class="text-muted">Uploaded by <strong><%= message.user.first_name %></strong> </small><br>
                      <small class="text-muted">Uploaded at <%= message.created_at.strftime("%d-%m-%Y") %></small>
                      <strong>
                        <% if message.attachment_data? %>
                          <% 
                          attachment_data = JSON.parse(message.attachment_data, object_class: OpenStruct) 
                          mime_type = attachment_data.original.metadata.mime_type
                          %>
                          <% if is_downloadable_file?(mime_type)%>
                            <div style="text-align: left;">
                              <br>
                              <%= file_icon(mime_type) %>
                              <%= link_to attachment_data.original.metadata.filename, message.attachment_url(:original), download: attachment_data.original.metadata.filename %>
                            </div>
                          <% else %>
                          <div class="feed-photo">
                              <br>
                              <%= image_tag message.attachment_url(:original), style: "width: 290px;", class: "msg_image" %>  
                            </div>
                          <% end %>
                      <% end %>
                    </strong>
                  </div>
              </div>
              </li>
              <li class="divider"></li>
          <% end %>
        <% end %>
      </ul>
    </div>

  <script type="text/javascript">
    $(function() {
      var modal = document.getElementById('msg_preview');
      var imgs = document.getElementsByClassName('msg_image');
      var modalImg = document.getElementById("img01");

      [].forEach.call(imgs, function (img) {
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
        }
      });

      var span = document.getElementsByClassName("close_preview")[0];

      span.onclick = function() { 
          modal.style.display = "none";
      }
    })
    
  </script>
</div>
