<%= link_to order_path(order), class: "order-link", remote: true do %>
    <div id="order-<%= order.id %>" class="card mb-3" style="box-shadow: 0 5px 15px rgba(33, 33, 33, .4);" >
      <div class="card-body bg-light text-secondary">
        <div class="row">
          <div class="col-12">
            <p class="lead">
              <%= order.brand_branches %>
            </p>
            <h4><%= order.brand_name %></h4>
            <p class="lead">
              ORDER TICKET #<%= order.id %>
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer" style="text-transform: uppercase;">
        <%= order.created_date %> BY <%= order.created_by_name %>
      </div>
    </div>
<% end %>