<div class="row">
  <div class="col padding-left">

    <h1><%= order.brand_name %></h1>
    <p class="text-secondary">
      <% if order.brand_branches.present? && !order.brand_branches.nil? %>
          <span style="margin-right: 2%;">BRANCHES:</span>
          <%= order.brand_branches %>
      <% end %>
    </p>
  </div>

  <div class="col text-right" style="margin-bottom: 1%">
    <span style="margin-right: 2%;">
      <span class="text-secondary"><%= order.updated_date %></span><br/>
      ORDER TICKET #<%= order.id %>
    </span>
    <br/>
    <a class="btn btn-outline-dark btn-padding-margin"  href="<%= edit_order_path(order) %>">Edit a Project</a>
    <!-- <button class="btn btn-default btn-yellow" style="margin: 0% 1%;padding: .2% 5% !important;" data-toggle="modal" data-target="#addOrder">Add</button>-->
    <a href="<%= new_order_path %>" class="btn btn-dark btn-padding-margin" style="margin: 0% 1%;padding: .2% 5% !important;">Add a Project</a>
  </div>
</div>
<div class="row"  style="padding-bottom: 5%;">
  <div class="col padding-left">
    <div id="accordion">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #FFF;font-size: .8em;margin: 0% 0% !important;padding: 0 0% !important;">
              <b>USERS ASSIGNED TO THIS TICKET</b>
            </a>
            <button class="btn btn-outline-light float-right btn-padding-margin" data-toggle="modal" data-target="#manageUsers">Manage Users</button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body bg-light text-secondary">

            <br>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">REGIONAL DIRECTOR</label>
              <div class="col-sm-8">
                <% OrderUser.regional_users(order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">CLIENT CONTACTS</label>
              <div class="col-sm-8">
                <% OrderUser.client_contact_users(order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">COMMS DIRECTOR</label>
              <div class="col-sm-8">
                <% OrderUser.comms_users(order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ART</label>
              <div class="col-sm-8">
                <% OrderUser.art_users(order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">DESIGNER</label>
              <div class="col-sm-8">
                <% OrderUser.designer_users(order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">PROCESSORS</label>
              <div class="col-sm-8">
                <% OrderUser.processor_users(order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card text-white border-secondary bg-info mb-3" >
      <div class="card-header"><b>QUOTE REQUEST/S</b>
        <button class="btn btn-outline-light float-right btn-padding-margin" data-toggle="modal" data-target="#addOrderEntries">ADD AN ITEM</button>
      </div>
      <div class="card-body bg-light text-secondary">
       <!-- <form id="send_to_vendors" action="<%= send_orders_to_vendors_orders_path %>" method="POST" >
          <input type="hidden" name="order_id" value="<%= @order.id %>">
          <select class="selectpicker2 glow-input" data-live-search="true" name="vendors[]" id="vendors[]" multiple>
            <option></option>
            <%# if @vendors.present? %>
                <%# @vendors.each do |vendor| %>
                    <option value="<%#= vendor.id %>"><%#= vendor.name %></option>
                <%# end %>
            <%# end %>
          </select>

          <%#= submit_tag "REQUEST QUOTE", class: "btn btn-dark btn-padding-margin" %>
              </form>-->
        <form id="form_order_checklist" action="/order_entries/change_status_on_checklist?order_id=2" data-remote="true" method="post">
          <div class="col text-right" style="padding-bottom: 2%;">


            <%#= submit_tag "CREATE ORDER", class: "btn btn-outline-secondary btn-padding-margin float-right margin-top-1" %>
            <%= submit_tag "CREATE ORDER", class: "btn btn-outline-secondary btn-padding-margin float-right" %>
            <a href="<%= send_orders_orders_path(:order_id => @order.id) %>" class="btn btn-dark btn-padding-margin" >REQUEST QUOTE</a>
                </div>
                <table class="table">
                  <thead class="table-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">ITEM + SKU</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">PCS</th>
                    <th scope="col">PER ITEM</th>
                    <th scope="col">TOTAL</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= form_tag(change_status_order_entries_path, method: :post, remote: true, id: "form_order_status") do %>
              <% end %>
                  <% order_entries.each do |entry|%>

                      <tr>
                        <td><img src="<%= check_picture_url(entry) %>" alt="features" border="0" width="64px"  style="display:block; border:none; outline:none; text-decoration:none;" class="features"></td>
                        <td> <a nohref style="cursor:pointer;color:#22773c;text-decoration:underline" onclick="itemDetails(<%= entry.product_id %>, '<%= entry.id %>');"><%= entry.product_name %></a></td>
                        <td>
                          <%= form_tag(change_status_order_entries_path(:id => entry.id), method: :post, remote: true, id: "form_order_status-#{entry.id}") do %>
                          <%= select_tag "status", options_for_select([["New" , 0 ], ["Quoting", 1], ["Pending Approval", 2], ["Ready to Process", 3], ["In Production", 4], ["Shipped", 5], ["Delivered", 6]], entry.status), :onchange => "this.form.submit();" %>
                  <% end %>
                  </td>
                  <td><%= entry.quantity  %></td>
                  <td><%= number_to_currency(entry.price, unit: "$ ", :precision => 2, :delimiter => ',') %> </td>
                  <td><%= number_to_currency((entry.quantity.nil? ? 0 : entry.quantity) * (entry.price.nil? ? 0 : entry.price), unit: "$ ", :precision => 2, :delimiter => ',') %> </td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-dark btn-nav-selected-circle" onclick="showEditOrderEntries(<%= entry.id %>)"><i data-feather="edit" class="feather-width-15"></i></a></td>
                  <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/order_entries/<%= entry.id %>" class="btn btn-outline-danger btn-nav-selected-circle" ><i data-feather="trash-2" class="feather-width-15"></i></a></td>
                  <td>
                    <% if entry.status == 1 %>
                        <input type="checkbox" name="item_ids[]" value="<%= entry.id %>"/>
                    <% end %>
                  </td>
                  </tr>

            <% end %>


            </tbody>
            </table>
            </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function (){
        $('.orders_and_order_form').css({'height': ($( window ).height() - 50)});
        $('.orders_and_order_form_2').css({'height': (($( window ).height() - 80) - 50)});
        $(window).resize(function(){
            var screenHeight = $( window ).height() - 50;
            var screenHeight2 = $( window ).height() - 80;
            $('.orders_and_order_form').height(screenHeight);
            $('.orders_and_order_form_2').height(screenHeight2 - 50);
        });
        $('.open-small-chat').on('click', function () {
            $(this).children().toggleClass('fa-comments').toggleClass('fa-remove');
            $('.small-chat-box').toggleClass('active');
        });
    });
</script>


