
<%= render "orders/modals/item_details" %>
<%= render "orders/modals/edit_attributes" %>
<%= render "orders/modals/edit_free_flowing_fields" %>


<form id="edit_order" action="/orders/update_order" accept-charset="UTF-8" method="post">

<input type="hidden" name="order[id]" id="order_id" value="<%= @order.id %>">
<div class="row" >
  <div class="col padding-left">
    <h1><b>EDIT THIS PROJECT #<%= @order.id %></b></h1><br/>
  </div>
</div>
<div class="row" >
  <div class="col padding-left">
    <h3 class="make-green"><b>Project Information</b></h3><br/>
  </div>
</div>
<!--Brands-->
<div class="row">
  <div class="col padding-left">
    <h5>Which brand is this for?</h5>
    <div class="input-group search-bar-padding">
      <select class="brandpicker form-control glow-input" data-live-search="true" name="order[brand_id]" id="order_brand_id" value="<%= @order.brand_id %>" required>
        <option></option>
        <% if @brands.present? %>
            <% @brands.each do |brand| %>
                <option value="<%= brand.id %>"<% if @order.brand_id == brand.id %> selected<% end %>><%= brand.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4 class="inline-text"><b>Choose from the applicable branches</b></h4>
    <a class="btn btn-outline-dark btn-padding-margin" style="padding: .2% 1% !important;" onclick="selectAllBranches();"> Select All </a>
    <a class="btn btn-outline-dark btn-padding-margin" style="padding: .2% 1% !important;" onclick="unselectAllBranches();"> Unselect All </a>
  </div>
</div>
<div class="row" style="padding-top: .8%;">
  <div class="col search-bar-padding text-justify item-list" id="brand-list">
    <% if @addresses.present? %>
        <% @addresses.each do |address| %>
            <% @bol = false %>
            <% @order_branches.each do |ob| %>
                <% if address.id == ob.address_id %>
                    <% @bol = true %>
                <% end %>
            <% end %>
            <a class='btn btn-nav select-items<% if @bol%> btn-yellow<% end %>' onclick='selectAndUnselect(<%= address.id %>, $(this))'> <%= address.state + " - " + address.city %></a>&nbsp;
        <% end %>
    <% end %>
  </div>
</div>
<!--Assign Users-->
<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h4><b>Assign a Team to this Project</b></h4><br/>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label label-form col-form-label-right">Regional Director</label>
  <div class="col-sm-10">
    <select class="selectpicker2 form-control glow-input" data-live-search="true" name="order_user[regional][]" id="order_user_regional[]" multiple>
      <option></option>
      <% OrderUser.regional_users(@order.id).each do |user|  %>
          <option value="<%= user.id %>" selected><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
      <% OrderUser.not_in_users(OrderUser.regional(@order.id).empty? ? 0 : OrderUser.regional(@order.id)).each do |user| %>
          <option value="<%= user.id %>"><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label label-form col-form-label-right">Client Contacts</label>
  <div class="col-sm-10">
    <select class="selectpicker2 form-control glow-input" data-live-search="true" name="order_user[client_contact][]" id="order_user_client_contact[]" multiple>
      <option></option>
      <% OrderUser.client_contact_users(@order.id).each do |user|  %>
          <option value="<%= user.id %>" selected><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
      <% OrderUser.not_in_users(OrderUser.client_contact(@order.id).empty? ? 0 : OrderUser.client_contact(@order.id)).each do |user| %>
          <option value="<%= user.id %>"><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label label-form col-form-label-right">Communications</label>
  <div class="col-sm-10">
    <select class="selectpicker2 form-control glow-input" data-live-search="true" name="order_user[comms][]" id="order_user_art[]" multiple>
      <option></option>
      <% OrderUser.comms_users(@order.id).each do |user|  %>
          <option value="<%= user.id %>" selected><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
      <% OrderUser.not_in_users(OrderUser.comms(@order.id).empty? ? 0 : OrderUser.comms(@order.id)).each do |user| %>
          <option value="<%= user.id %>"><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
    </select>

  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label label-form col-form-label-right">Art Director</label>
  <div class="col-sm-10">
    <select class="selectpicker2 form-control glow-input" data-live-search="true" name="order_user[art][]" id="order_user_art[]" multiple>
      <option></option>
      <% OrderUser.art_users(@order.id).each do |user|  %>
          <option value="<%= user.id %>" selected><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
      <% OrderUser.not_in_users(OrderUser.art(@order.id).empty? ? 0 : OrderUser.art(@order.id)).each do |user| %>
          <option value="<%= user.id %>"><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label label-form col-form-label-right">Designers</label>
  <div class="col-sm-10">
    <select class="selectpicker2 form-control glow-input" data-live-search="true" name="order_user[designer][]" id="order_user_designer[]" multiple>
      <option></option>
      <% OrderUser.designer_users(@order.id).each do |user|  %>
          <option value="<%= user.id %>" selected><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
      <% OrderUser.not_in_users(OrderUser.designer(@order.id).empty? ? 0 : OrderUser.designer(@order.id)).each do |user| %>
          <option value="<%= user.id %>"><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label label-form col-form-label-right">Processor</label>
  <div class="col-sm-10">
    <select class="selectpicker2 form-control glow-input" data-live-search="true" name="order_user[processor][]" id="order_user_processor[]" multiple>
      <option></option>
      <% OrderUser.processor_users(@order.id).each do |user|  %>
          <option value="<%= user.id %>" selected><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
      <% OrderUser.not_in_users(OrderUser.processor(@order.id).empty? ? 0 : OrderUser.processor(@order.id)).each do |user| %>
          <option value="<%= user.id %>"><%= [user.first_name, user.last_name].join(' ') %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col padding-left">
    <h3 class="make-green"><b>Items</b></h3><br/>
  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <h5><b>Current Order</b></h5><br/>
  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <div class="stitched row">

      <% @order_entries.each do |oe| %>
          <div class='col-md-1 nopadding text-align-right row-button-<%= oe.product_id %>'>
            <div class='form-group'>
              <button class='btn btn-outline-danger' type='button' onclick='removeOrderEntryWithId(<%= oe.product_id %>, <%= oe.id %>);'> <span class='fa fa-trash-o' aria-hidden='true'></span> </button>
            </div>
          </div>
          <div class='col-md-11 nopadding text-align-left row-name-<%= oe.product_id %>'>
            <div class='form-group'><%= oe.product_name %></div>
          </div>
          <div class='clear'></div>
      <% end %>

    </div>
  </div>
</div>

<br/>
<br/>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><h5><b>Add a New Item</b></h5></a>
    <a class="nav-item nav-link" id="nav-clone-tab" data-toggle="tab" href="#nav-clone" role="tab" aria-controls="nav-profile" aria-selected="false"> <h5><b>Clone an existing item</b></h5></a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> <h5><b>Add an existing item</b></h5></a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Product Name</h4>
      <div class="input-group search-bar-padding">
        <input type="text" class="form-control glow-input" name="product_name" id="product_name"/>
      </div>
    </div>
  </div>
  <!--Categories-->
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Product Category</h4>
      <div class="input-group search-bar-padding">
        <select class="categories form-control glow-input" data-live-search="true" name="category_id" id="category_id">
          <option></option>
          <% if @categories.present? %>
              <% @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Item Category</h4>
      <div class="input-group search-bar-padding">
        <select class="categories form-control glow-input" data-live-search="true" name="item_category_id" id="item_category_id">
          <option></option>
          <% if @categories.present? %>
              <% @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Vendor</h4>
      <div class="input-group search-bar-padding">
        <select class="categories form-control glow-input" data-live-search="true" name="vendor_id[]" id="vendor_id" multiple>
          <option></option>
          <% if @vendors.present? %>
              <% @vendors.each do |vendor| %>
                  <option value="<%= vendor.id %>"><%= vendor.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Specifications</h4>
      <div class="input-group search-bar-padding">
        <textarea class="form-control glow-input" id="specs" name="specs" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Vendor Price Quotes</h4>
      <div class="input-group search-bar-padding">
        <textarea class="form-control glow-input" id="vendor_quote_prices" name="vendor_quote_prices" rows="3"></textarea>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Notes</h4>
      <div class="input-group search-bar-padding">
        <textarea class="form-control glow-input" id="notes" name="notes" rows="3"></textarea>
      </div>
    </div>
  </div>


  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left" >
      <span class="float-left"><h5>Attributes</h5></span>
      <a class="btn btn-outline-dark float-right" onclick="product_attributes();" >Add Attributes</a>
      <% if DefaultAttribute.all.size > 0 %>
          <div class="padding-top-1" id="default_product_attributes" style="padding-top: 5%;">
            <% DefaultAttribute.all.each do |da| %>
                <div class="row form-group">
                  <div class="col-md-4 nopadding">
                    <div class="form-group">
                      <input type="hidden" class="form-control" id="order[field_name][]" name="order_field_name" value="<%= da.field_name %>" />
                      <b><%= da.field_name %></b>
                    </div>
                  </div>
                  <div class="col-md-6 nopadding">
                    <div class="form-group">
                      <input type="<%= da.input_type.downcase %>" class="form-control default_attributes" id="order[field_value][]" name="order_field_value" value="" placeholder="Field Value">
                    </div>
                  </div>
                  <div class="col-md-2 nopadding">
                    <div class="form-group">
                      <!--<button class="btn btn-outline-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="fa fa-trash-o" aria-hidden="true"></span> </button>-->
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
            <% end %>
          </div>
      <% end %>
      <div class="padding-top-1" id="product_attributes">

      </div>
    </div>

  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col padding-left" style="padding-right: 5%; padding-left: 5%;">
      <a class="btn btn-outline-dark" style="width: 100%;" onclick="submitNewProduct();">Save this Item</a>
    </div>
  </div>

</div>

<div class="tab-pane fade" id="nav-clone" role="tabpanel" aria-labelledby="nav-clone-tab">
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Product to Copy it's Attributes</h4>
      <div class="input-group search-bar-padding">
        <select class="clone_products form-control glow-input" data-live-search="true" name="product_id" id="clone_product_id">
          <option></option>
          <% if @products.present? %>
              <% @products.each do |product| %>
                  <option value="<%= product.id %>"><%= product.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Product Name</h4>
      <div class="input-group search-bar-padding">
        <input type="text" class="form-control glow-input" name="product_name" id="clone_product_name"/>
      </div>
    </div>
  </div>
  <!--Categories-->
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Product Category</h4>
      <div class="input-group search-bar-padding">
        <select class="clone_categories form-control glow-input" data-live-search="true" name="category_id" id="clone_category_id" >
          <option></option>
          <% if @categories.present? %>
              <% @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Item Category</h4>
      <div class="input-group search-bar-padding">
        <select class="clone_categories form-control glow-input" data-live-search="true" name="item_category_id" id="clone_item_category_id">
          <option></option>
          <% if @categories.present? %>
              <% @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Vendor</h4>
      <div class="input-group search-bar-padding">
        <select class="clone_categories form-control glow-input" data-live-search="true" name="vendor_id[]" id="clone_vendor_id" multiple>
          <option></option>
          <% if @vendors.present? %>
              <% @vendors.each do |vendor| %>
                  <option value="<%= vendor.id %>"><%= vendor.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Specifications</h4>
      <div class="input-group search-bar-padding">
        <textarea class="form-control glow-input" id="clone_specs" name="specs" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Vendor Price Quotes</h4>
      <div class="input-group search-bar-padding">
        <textarea class="form-control glow-input" id="clone_vendor_quote_prices" name="vendor_quote_prices" rows="3"></textarea>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Notes</h4>
      <div class="input-group search-bar-padding">
        <textarea class="form-control glow-input" id="clone_notes" name="notes" rows="3"></textarea>
      </div>
    </div>
  </div>


  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left" >
      <span class="float-left"><h5>Attributes</h5></span>
      <a class="btn btn-outline-dark float-right" onclick="clone_product_attributes();" >Add Attributes</a>
      <div class="padding-top-1" id="clone_product_attributes" style="padding-top: 5%;">

      </div>
    </div>

  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col padding-left" style="padding-right: 5%; padding-left: 5%;">
      <a class="btn btn-outline-dark" style="width: 100%;" onclick="submitNewClonedProduct();">Save this Item</a>
    </div>
  </div>
</div>

<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Existing Product</h4>
      <div class="input-group search-bar-padding">
        <select class="categories form-control glow-input" data-live-search="true" name="product_id" id="product_id">
          <option></option>
          <% if @products.present? %>
              <% @products.each do |product| %>
                  <option value="<%= product.id %>"><%= product.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col padding-left" style="padding-right: 5%; padding-left: 5%;">
      <a class="btn btn-outline-dark" style="width: 100%;" onclick="addExistingItem();">Add this Item</a>
    </div>
  </div>
</div>
</div>



<div class="row" style="padding-top: 5%;">
  <div class="col padding-left" style="padding-right: 2%; padding-left: 2%;">
    <a class="btn btn-success" style="width: 100%;" onclick="submitFormWithVal('edit_order', $(this));">Update this Order</a>
  </div>
</div>
</form>

<script>
    var address_list = [];
    var product_list = [];
    var entry_list = [];
    var all_address_list = [];

    <% @addresses.each do |address| %>
    all_address_list.push(<%= address.id %>);
    <% end %>

    <% @order_branches.each do |ob| %>
    address_list.push(<%= ob.address_id %>);
    <% end %>
    <% @order_entries.each do |oe| %>
    entry_list.push(<%= oe.id %>);
    <% end %>

    $(function() {
        $('select.brandpicker').on('change', function(e){
            /*console.log(this.value,
             this.options[this.selectedIndex].value,
             $(this).find("option:selected").val(),);*/
            getAddress(this.value)
        });

        $('select.clone_products').on('change', function(e){
            $.ajax({
                method: "GET",
                url: "/api/simple/products/"+this.value
            }).done(function( data ) {
                $('#clone_product_name').val(data.name);
                $('#clone_category_id').val(data.category);
                $('#clone_item_category_id').val(data.item_category_id);
                $('#clone_vendor_id').val(data.vendor_id);
                $('#clone_specs').val(data.specs)
                $('#clone_vendor_quote_prices').val(data.vendor_quote_prices)
                $('#clone_notes').val(data.notes)
                $('#clone_product_attributes').html('');
                $('.clone_categories').selectpicker('refresh');
                foo = JSON.parse(data.convert_dynamic_fields);
                Object.keys(foo)
                        .forEach(function eachKey(key) {
                            clone_product_attributes_2(key, foo[key]);
                        });
            });
        });


    });

    $('.selectpicker').selectpicker('refresh');
    $('.selectpicker2').selectpicker('refresh');
    function getAddress() {
        var id = $('#order_brand_id').val()
        $.ajax({
            method: "GET",
            url: "/api/simple/addresses/branches?brand_id="+id
        }).done(function( data ) {
            $('#brand-list').html('');
            all_address_list = [];
            data.forEach(function (item, index, arr) {
                all_address_list.push(item['id']);
                brand_list = $('#brand-list').html();
                $('#brand-list').html(brand_list + "<a class='btn btn-nav' onclick='selectAndUnselect(" + item['id'] + ", $(this) )'> " + item['state'] + " - " +  item['city'] + "</a>&nbsp;");
                console.log(item);
            });
        });

    }
    function selectAndUnselect(id, elem) {   // is li
        console.log(address_list);
        if (address_list.includes(id)) {
            for(var i = address_list.length - 1; i >= 0; i--) {
                if(address_list[i] === id) {
                    address_list.splice(i, 1);
                }
            }
            elem.removeClass('btn-yellow');
        }else{
            address_list.push(id);
            elem.addClass('btn-yellow');
        }
    }

    function selectAllBranches() {
        $('.select-items').removeClass('btn-yellow');
        $('.select-items').addClass('btn-yellow');
        address_list = all_address_list;
    }

    function unselectAllBranches() {
        $('.select-items').removeClass('btn-yellow');
        address_list = [];
    }

    function in_array(array, id) {
        for(var i=0;i<array.length;i++) {
            return (array[i] === id)
        }
        return false;
    }

    function submitFormWithVal(id, elem) {
        form_id = "#"+id;
        var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "order_branch").val(address_list);
        var input2 = $("<input>")
                .attr("type", "hidden")
                .attr("name", "order_entries").val(product_list);
        var input3 = $("<input>")
                .attr("type", "hidden")
                .attr("name", "existing_entries").val(entry_list);
        $(form_id).append($(input));
        $(form_id).append($(input2));
        $(form_id).append($(input3));
        $( form_id ).submit();
        $(elem).attr('disabled','disabled');
        $(elem).addClass( "disabled" );
        $(elem).html('Please Wait...');
    }
    function submitNewClonedProduct() {
        var product_name = $('#clone_product_name').val();
        var category_id = $('#clone_category_id').val();
        var item_category_id = $('#clone_item_category_id').val();
        var vendor_id = $('#clone_vendor_id').val();
        var specs =  $('#clone_specs').val();
        var vendor_quote_prices = $('#clone_vendor_quote_prices').val();
        var notes = $('#clone_notes').val();

        var dynamic_fields = {};
        var field_names = $('input[name=clone_order_field_name]');
        var field_values = $('input[name=clone_order_field_value]');

        for(var i = field_names.length - 1; i >= 0; i--) {
            dynamic_fields[$(field_names[i]).val()] = $(field_values[i]).val();
        }
        if (product_name != '' && (category_id != '' || item_category_id != '')) {
            $.ajax({
                method: "POST",
                url: "/api/simple/products/create_item",
                data: {product_name: product_name, category_id: category_id, item_category_id: item_category_id, specs: specs, vendor_quote_prices: vendor_quote_prices, notes: notes, dynamic_fields: dynamic_fields, vendor_id: vendor_id}
            }).done(function( data ) {
                $('#clone_product_id').val('');
                $('#clone_product_name').val('');
                $('#clone_category_id').val('');
                $('#clone_item_category_id').val('');
                $('#clone_vendor_id').val('');
                $('#clone_specs').val('')
                $('#clone_vendor_quote_prices').val('')
                $('#clone_notes').val('')
                $('#clone_product_attributes').html('');
                $('.clone_categories').selectpicker('refresh');
                $('.clone_products').selectpicker('refresh');
                if (product_list.length === 0) {
                    $('.stitched').html('')
                }
                product_list.push(data.id)
                order_entries = $('.stitched').html();
                $('.stitched').html(order_entries + "<div class='col-md-1 nopadding text-align-right row-button-" + data.id + "'><div class='form-group'> <button class='btn btn-outline-danger' type='button' onclick='removeOrderEntry(" + data.id + ");'> <span class='fa fa-trash-o' aria-hidden='true'></span> </button></div></div><div class='col-md-11 nopadding text-align-left row-name-" + data.id + "'><div class='form-group'>" + data.name + "</div></div><div class='clear'></div>")
            });
        }

    }
    function submitNewProduct() {
        var product_name = $('#product_name').val();
        var category_id = $('#category_id').val();
        var item_category_id = $('#item_category_id').val();
        var vendor_id = $('#vendor_id').val();
        var specs =  $('#specs').val();
        var vendor_quote_prices = $('#vendor_quote_prices').val();
        var notes = $('#notes').val();
        var dynamic_fields = {};

        var field_names = $('input[name=order_field_name]');
        var field_values = $('input[name=order_field_value]');

        for(var i = field_names.length - 1; i >= 0; i--) {
            dynamic_fields[$(field_names[i]).val()] = $(field_values[i]).val();
        }
        if (product_name != '' && (category_id != '' || item_category_id != '')) {
            $.ajax({
                method: "POST",
                url: "/api/simple/products/create_item",
                data: {product_name: product_name, category_id: category_id, item_category_id: item_category_id, specs: specs, vendor_quote_prices: vendor_quote_prices, notes: notes, dynamic_fields: dynamic_fields, vendor_id: vendor_id}
            }).done(function( data ) {
                $('#product_name').val('');
                $('#category_id').val('');
                $('#item_category_id').val('');
                $('#vendor_id').val('');
                $('#specs').val('');
                $('#vendor_quote_prices').val('');
                $('.default_attributes').val('');
                $('#notes').val('')
                $('#product_attributes').html('');
                $('.categories').selectpicker('refresh');
                if (product_list.length === 0) {
                    $('.stitched').html('')
                }
                product_list.push(data.id)
                order_entries = $('.stitched').html();
                $('.stitched').html(order_entries + "<div class='col-md-1 nopadding text-align-right row-button-" + data.id + "'><div class='form-group'> <button class='btn btn-outline-danger' type='button' onclick='removeOrderEntry(" + data.id + ");'> <span class='fa fa-trash-o' aria-hidden='true'></span> </button></div></div><div class='col-md-11 nopadding text-align-left row-name-" + data.id + "'><div class='form-group'>" + data.name + "</div></div><div class='clear'></div>")
            });
        }

    }

    function addExistingItem() {
        var id = $('#product_id').val()
        $.ajax({
            method: "GET",
            url: "/api/simple/products/"+id
        }).done(function( data ) {
            $('#product_id').val('');
            $('.products').selectpicker('refresh');
            if (product_list.length === 0 && entry_list.length === 0) {
                $('.stitched').html('')

            }
            product_list.push(data.id)
            order_entries = $('.stitched').html();
            $('.stitched').html(order_entries + "<div class='col-md-1 nopadding text-align-right row-button-" + data.id + "'><div class='form-group'> <button class='btn btn-outline-danger' type='button' onclick='removeOrderEntry(" + data.id + ");'> <span class='fa fa-trash-o' aria-hidden='true'></span> </button></div></div><div class='col-md-11 nopadding text-align-left row-name-" + data.id + "'><div class='form-group'>" + data.name + "</div></div><div class='clear'></div>")
        });
    }

    function removeOrderEntry(id) {
        console.log(product_list);
        if (in_array(product_list, id)) {
            for(var i = product_list.length - 1; i >= 0; i--) {
                if(product_list[i] === id) {
                    product_list.splice(i, 1);
                }
            }
            $('.row-button-'+id).remove();
            $('.row-name-'+id).remove();

            if (product_list.length === 0 && entry_list.length === 0) {
                $('.stitched').html("<div class='col'>Empty</div>")
            }
        }
    }
    function removeOrderEntryWithId(id, entry_id) {
        console.log(entry_list);
        if (entry_list.includes(entry_id)) {
            for(var i = entry_list.length - 1; i >= 0; i--) {
                if(entry_list[i] === entry_id) {
                    entry_list.splice(i, 1);
                }
            }
            console.log(entry_list);
            $('.row-button-'+id).remove();
            $('.row-name-'+id).remove();

            if (product_list.length === 0 && entry_list.length === 0) {
                $('.stitched').html("<div class='col'>Empty</div>")
            }
        }
    }
</script>