<% if @order.present? %>
    <%= render "orders/modals/email_form" %>
    <%= render "orders/modals/add_order_entries" %>    
    <%= render "orders/modals/attachments" %>
    <%= render "orders/modals/item_details" %>
    <%= render "orders/modals/edit_order_entries" %>
    <%= render "orders/modals/entry_history" %>
    <%= render "orders/modals/file_upload" %>
<% end %>
<div id="manage_users">
    <%= render "orders/modals/manage_users", order: @order %>
</div>
<% if @order.present? && @orders.present? %>
    <h1 class="page-header">
        Orders <small>List of client orders.</small>
    </h1>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
            <ul class="nav nav-tabs">
                <li class="nav-items">
                    <a href="#default-tab-1" data-toggle="tab" class="nav-link active show">
                        <span class="d-sm-none">Orders</span>
                        <span class="d-sm-block d-none">Orders</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#default-tab-2" data-toggle="tab" class="nav-link">
                        <span class="d-sm-none">Messages</span>
                        <span class="d-sm-block d-none">Messages</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#default-tab-3" data-toggle="tab" class="nav-link">
                        <span class="d-sm-none">Notifications</span>
                        <span class="d-sm-block d-none">Notifications</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane widget-chat active show" id="default-tab-1">
                    <div class="widget-chat-header">
                        <div class="widget-chat-header-icon">
                            <i class="fas fa-calendar-alt width-30 height-30 f-s-20 bg-yellow text-inverse text-center rounded-corner" style="line-height: 30px"></i>
                        </div>
                        <div class="widget-chat-header-content">
                            <h4 class="widget-chat-header-title">Orders</h4>
                            <p class="widget-chat-header-desc"><%= @orders.count %> orders</p>
                        </div>
                    </div>
                    <div class="widget-list widget-list-rounded m-b-30 slimScrollDiv" data-id="widget">
                        <%= render @orders %>
                    </div>
                </div>
                <div class="tab-pane" id="default-tab-2">

                        <div class="widget-chat" style="margin-left: -15px;margin-right: -15px;">
                            <div class="widget-chat-header">
                                <div class="widget-chat-header-icon">
                                    <i class="fas fa-comments width-30 height-30 f-s-20 bg-yellow text-inverse text-center rounded-corner" style="line-height: 30px"></i>
                                </div>
                                <div class="widget-chat-header-content">
                                    <h4 class="widget-chat-header-title">Order Discussion Group</h4>
                                    <p class="widget-chat-header-desc"><%= @chatroom_order.messages.count %> messages</p>
                                </div>
                            </div>
                            <div class="slimScrollDiv widget-chat-body">
                                <div id="order_messages">
                                    <%= render 'chatroom_tab', chatroom: @chatroom_order  %>
                                </div>
                            </div>
                            <%= render '/chatroom_orders/chatroom_message', chatroom: @chatroom_order %>
                        </div>
                
                </div>
                <div class="tab-pane widget-chat" id="default-tab-3">
                     <div class="widget-chat-header">
                        <div class="widget-chat-header-icon">
                            <i class="fas fa-exclamation width-30 height-30 f-s-20 bg-yellow text-inverse text-center rounded-corner" style="line-height: 30px"></i>
                        </div>
                        <div class="widget-chat-header-content">
                            <h4 class="widget-chat-header-title">Notifications</h4>
                            <p class="widget-chat-header-desc"><%= @order_histories.count %> notifications</p>
                        </div>
                    </div>
                    <%= render 'order_histories', order_histories: @order_histories %>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div id="show_order">
                <%= render 'show_order', order: @order, chatroom_order: @chatroom_order, order_entries: @order_entries %>
            </div>
        </div>
    </div>

<% else %>
    <style>
        #wrapper-div{width:100%; height:400px}
        .sample{height:20px; position:relative; margin: -20px -50px; width:150px; top:50%; left:50%;}
    </style>

    <div class="row" style="position:relative;">
      <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
        <div class="row">
          <div class="col padding-left" id="wrapper-div">
            <a href="<%= new_order_path %>" class="sample" style="text-align: center;"><i class="fa fa-plus-circle fa-5" aria-hidden="true" style="font-size: 5em;"></i><br/>Add New Quote</a>
          </div>
        </div>
      </div>
    </div>
<% end %>


<script type="text/javascript">
    var textContentOrder =  '<%= DefaultTemplate.where(:template_type => "Order").first.message.html_safe %>';
    var textContentQuote =  '<%= DefaultTemplate.where(:template_type => "Quote").first.message.html_safe %>';
    $('#search_form').on('submit', function() {
      var filters = document.querySelectorAll('.filter-link');
      var input = document.querySelector('.search-form-field');
      if (input.value) {
        $.each(filters, function(i, el) {
          var url = new URL(el.href);
          url.searchParams.set('search[term]', input.value);
          el.href = url.href;
        });
      }
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var name = e.target.dataset.name;
      var input = document.querySelector('.search-form-field');
      var order_id = document.querySelector('#chatroom_msgs').dataset.chatroomId;
      var hiddenOnMsgs = document.querySelectorAll('.hidden-on-msg');
      var linkToModify = document.querySelectorAll('.link-to-modify');

      input.value = null;
      if (name === 'messages') {
        $('#search_form').attr('action', '/dynamic_messages/' + order_id + '.js');
        $.each(hiddenOnMsgs, function(index, value) {
          value.classList.add('d-none');
        });
        $.each(linkToModify, function(index, value) {
          value.href = value.href.replace('/orders.js', '/dynamic_messages/' + order_id + '.js');
        });
      } else if (name === 'orders') {
        $('#search_form').attr('action', '/orders.js');
        $.each(hiddenOnMsgs, function(index, value) {
          value.classList.remove('d-none');
        });
        $.each(linkToModify, function(index, value) {
          value.href = value.href.replace('/dynamic_messages/' + order_id + '.js', '/orders.js');
          value.href = value.href.replace('/filter_notifications/' + order_id + '.js', '/orders.js');
        });
      } else if (name === 'notifications') {
        $('#search_form').attr('action', '/filter_notifications/' + order_id + '.js');
        $.each(hiddenOnMsgs, function(index, value) {
          value.classList.add('d-none');
        });
        $.each(linkToModify, function(index, value) {
          value.href = value.href.replace('/orders.js', '/filter_notifications/' + order_id + '.js');
        });
      }
    });

    $('#new_order_entry').submit(function() {
        return setAttributesOnForm($(this));
    });

    $('#edit_order_entry').submit(function() {
        return setAttributesOnForm($(this));
    });

    function submitNewClonedProduct() {
        var product_name = $('#clone_product_name').val();
        var item_category_id = $('#clone_item_category_id').val();
        var vendor_id = $('#clone_vendor_id').val();
        var specs =  $('#clone_specs').val();
        var vendor_quote_prices = $('#clone_vendor_quote_prices').val();
        var notes = $('#clone_notes').val();

        var dynamic_fields = {};
        var field_names = $('input[name=clone_order_field_name]');
        var field_values = $('input[name=clone_order_field_value]');

        for(var i = field_names.length - 1; i >= 0; i--) {
            dynamic_fields[$(field_names[i]).val()] = $(field_values[i]).val();
        }
        if (product_name != '' && item_category_id != '') {
            $.ajax({
                method: "POST",
                url: "/api/simple/products/create_item",
                data: {product_name: product_name, item_category_id: item_category_id, specs: specs, vendor_quote_prices: vendor_quote_prices, notes: notes, dynamic_fields: dynamic_fields, vendor_id: vendor_id}
            }).done(function( data ) {
                location.reload(true);
            });
        }

    }
    function submitNewProduct() {
        var product_name = $('#product_name').val();
        var item_category_id = $('#item_category_id').val();
        var vendor_id = $('#vendor_id').val();
        var specs =  $('#specs').val();
        var vendor_quote_prices = $('#vendor_quote_prices').val();
        var notes = $('#notes').val();
        var dynamic_fields = {};

        var field_names = $('input[name=order_field_name]');
        var field_values = $('input[name=order_field_value]');

        for(var i = field_names.length - 1; i >= 0; i--) {
            dynamic_fields[$(field_names[i]).val()] = $(field_values[i]).val();
        }
        if (product_name != '' && item_category_id != '') {
            $.ajax({
                method: "POST",
                url: "/api/simple/products/create_item",
                data: {product_name: product_name, item_category_id: item_category_id, specs: specs, vendor_quote_prices: vendor_quote_prices, notes: notes, dynamic_fields: dynamic_fields, vendor_id: vendor_id}
            }).done(function( data ) {
                location.reload(true);
            });
        }

    }


    var pictureUploadDropzone = new Dropzone("#picture_upload", {
        url: '/products/change_picture',
        uploadMultiple: false,
        parallelUploads: 1,
        maxFiles: 1,
        acceptedFiles: '.png,.jpg',
        previewsContainer: '#dropzonePictureUploadPreview',
        clickable: '#dropzonePictureUploadPreview',
        success: function(file, response) {
            var order_entry_id = $('#order_entry_id_2').val();
            $('#pictureUpload').modal('hide');
            this.removeFile(file);
            var pic_id = 'pic' + order_entry_id + response.id
            $("#pic1").attr("src",response.picture_url);
            $("#"+pic_id).attr("src",response.picture_url);
        }
    });

    /*var addNewProductDropzone = new Dropzone("#new_order_entry", {
        url: '/order_entries',
        addRemoveLinks: true,
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 10,
        previewsContainer: '#dropzoneAddPreview',
        clickable: '#dropzoneAddPreview',

        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            myDropzone = this; // closure

            this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
                    $('#new_order_entry').submit();
                }
                else {
                    setAttributesOnForm($('#new_order_entry'));
                    myDropzone.processQueue();

                }
            });
            this.on("successmultiple", function(files, response) {
                // Gets triggered when the files have successfully been sent.
                // Redirect user or notify of success.
                var data = response;
                location.reload(true);

            });
        }
    });*/

    var addNewProductDropzone = new Dropzone("#add-new-product", {
        url: '/products',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 10,
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',

        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            myDropzone = this; // closure

            this.element.querySelector('#save').addEventListener("click", function(e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                setAttributesOnForm($('#add-new-product'));
                if (myDropzone.getQueuedFiles().length === 0) {
                    $( "#add-new-product" ).submit();
                }
                else {
                    myDropzone.processQueue();

                }
            });
            this.on("successmultiple", function(files, response) {
                location.reload(true);

            });
        }
    });

    var addCloneProductDropzone = new Dropzone("#add-clone-product", {
        url: '/products',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 10,
        previewsContainer: '#dropzoneClonePreview',
        clickable: '#dropzoneClonePreview',

        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            myDropzone = this; // closure

            this.element.querySelector('#save-clone').addEventListener("click", function(e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                setCloneAttributesOnForm($('#add-clone-product'));
                if (myDropzone.getQueuedFiles().length === 0) {
                    $( "#add-clone-product" ).submit();
                }
                else {
                    myDropzone.processQueue();

                }
            });
            this.on("successmultiple", function(files, response) {
                location.reload(true);

            });
        }
    });


    $(function(){

        $('.slimScrollDiv').slimScroll({
          railOpacity: 0.4,
          start: 'bottom',
          height: '500px',
      });

        $('select.clone_products').on('change', function(e){
            $.ajax({
                method: "GET",
                url: "/api/simple/products/"+this.value
            }).done(function( data ) {
                $('#clone_product_name').val(data.name);
                $('#clone_item_category_id').val(data.item_category_id);
                $('#clone_vendor_id').val(data.vendor_id);
                $('#clone_specs').val(data.specs)
                $('#clone_vendor_quote_prices').val(data.vendor_quote_prices)
                $('#clone_notes').val(data.notes)
                $('#clone_product_attributes').html('');
                $('.clone_categories').selectpicker('refresh');
                console.log(JSON.parse(data.convert_dynamic_fields));
                foo = JSON.parse(data.convert_dynamic_fields);
                Object.keys(foo)
                    .forEach(function eachKey(key) {
                        clone_product_attributes_2(key, foo[key]);
                    });
            });
        });

        $("#pictureUpload, #editOrderEntries, #viewHistories").on('hidden.bs.modal', function (e) {
            // Load up a new modal...
            $('#viewProducts').modal('show');
            $("body").addClass("modal-open");
        });
        $("#viewProducts").on('hidden.bs.modal', function (e) {
            $("body").addClass("modal-open");
        })


        $(".textarea-format").jqte({remove: false,rule: false,unlink: false, });
        $("div#order-<%= @order.id %>").addClass('orange-left');
        $('.ibox-content').slimScroll({
          railOpacity: 0.4,
          start: 'bottom',
          height: '500px',
        });
        
        $("div#order-<%= params[:order_id] %>").click();
        $("#order-<%= params[:order_id] %>")[0].scrollIntoView({
            behavior: "smooth", // or "auto" or "instant"
            block: "start" // or "end"
        });
    });
</script>

<%# if @product_id.present? && @order_entry_id.present? %>
<!--    <script type="text/javascript">
        itemDetails(<%#= @product_id %>, '<%#= @order_entry_id %>');
    </script>-->
<%# end %>
