<% if @order.present? %>
    <%= render "orders/modals/add_order_entries" %>
    <%= render "orders/modals/edit_order_entries" %>
    <%= render "orders/modals/manage_users" %>
    <%= render "orders/modals/item_details" %>
    <%= render "orders/modals/edit_attributes" %>
    <%= render "orders/modals/edit_free_flowing_fields" %>
<% end %>
<% if @order.present? && @orders.present? %>
<div class="row" style="position:relative;">
  <div id="left" class="col-lg-3 orders_and_order_form" style="overflow-y: hidden; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 30% !important; max-width: 30% !important;">
    <div class="row" style="position:relative;">
      <div class="col orders_and_order_form_2" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 100% !important;">
        <% @orders.each do |order| %>
          <%= link_to order_path(order), class: "order-link", remote: true do %>
            <div id="order-<%= order.id %>" class="card mb-3" style="box-shadow: 0 5px 15px rgba(33, 33, 33, .4);" >
              <div class="card-body bg-light text-secondary">
                <div class="row">
                  <div class="col-12">
                    <p class="lead">
                      <%= order.brand_branches %>
                    </p>
                    <h4><%= order.brand_name %></h4>
                    <p class="lead">
                      ORDER TICKET #<%= order.id %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-footer" style="text-transform: uppercase;">
                <%= order.created_date %> BY <%= order.created_by_name %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row" style="position:relative;margin-top:5%;">
      <div class="col orders_and_order_form_2" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 100% !important;">
        <div class="stitched row" style="padding: 10px; text-shadow: none;">
          <div class="col">
            
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
  <div id="show_order">
    <%= render 'show_order', order: @order, chatroom_order: @chatroom_order, order_entries: @order_entries %>
  </div>
</div>
  
</div>
<% else %>
    <style>
        #wrapper-div{width:100%; height:400px}
        .sample{height:20px; position:relative; margin: -20px -50px; width:150px; top:50%; left:50%;}
    </style>

    <div class="row" style="position:relative;">
      <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
        <div class="row">
          <div class="col padding-left" id="wrapper-div">
            <a href="<%= new_order_path %>" class="sample" style="text-align: center;"><i class="fa fa-plus-circle fa-5" aria-hidden="true" style="font-size: 5em;"></i><br/>Add New Quote</a>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script type="text/javascript">
  $(function(){
    $("div#order-<%= @order.id %>").addClass('orange-left'); 
  });
</script>
