<%= render "orders/modals/status" %>
<div class="row" style="position:relative;">
  <div id="left" class="col-lg-4 orders_and_order_form" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important;">
    <% @orders.each do |order| %>
    <div class="card text-white border-secondary bg-info mb-3" ng-repeat="sale in sales" >
      <div class="card-body bg-light text-secondary">
        <div class="row">
          <div class="col-8">
            <p class="lead">
              <%= order.brand_branches %>
            </p>
            <h4><%= order.brand_name %></h4>
            <p class="lead">
              ORDER TICKET #<%= order.id %>
            </p>
          </div>
          <div class="col-4 text-right">
            <a href="<%= orders_path(:id => order.id )%>" class="btn btn-outline-dark">View</a>
          </div>
        </div>
      </div>
      <div class="card-footer" style="text-transform: uppercase;">
        <%= order.created_date %> BY <%= order.created_by_name %>
      </div>
    </div>
        <% end %>
  </div>
  <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
    <div class="row">
      <div class="col padding-left">
        <p class="lead">
          <%= @order.updated_date %>
        </p>
        <h1><%= @order.brand_name %></h1>
        <p class="lead">
          <%= @order.brand_branches %>
        </p>
      </div>

      <div class="col text-right">
        <button class="btn btn-outline-dark" style="margin: 0% 1%;padding: .2% 5% !important;" ng-click="editOrder(order.id)">Edit</button>
        <button class="btn btn-default btn-yellow" style="margin: 0% 1%;padding: .2% 5% !important;" ng-click="newOrder()" data-toggle="modal" data-target="#exampleModalCenter">Add</button>
      </div>

    </div>
    <!--  <div class="row"  >
          <div class="col padding-left text-center">
              <button class="btn btn-default {{order.status == 'Pre-Sales' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">PRE-SALES</button>
              <button class="btn btn-default {{order.status == 'Sales' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">SALES</button>
              <button class="btn btn-default {{order.status == 'Design' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">DESIGN</button>
              <button class="btn btn-default {{order.status == 'Processing' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">PROCESSING</button>
              <button class="btn btn-default {{order.status == 'Shipping' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">SHIPPING</button>
          </div>
      </div>-->
    <div class="row"  style="padding-bottom: 5%;">
      <div class="col padding-left">
        <div class="card text-secondary  bg-light mb-3" >
          <div class="card-header"><b>USERS ASSIGNED TO THIS TICKET</b> <button class="btn btn-outline-info float-right" ng-click="editOrderUser(order.id);">Manage Users</button></div>
          <div class="card-body bg-light text-secondary">
            <label class="item item-input input-adjust-padding-right">
              <span class="input-label force-gray-label">CLIENT CONTACTS</span>
            </label>
            <br>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">REGIONAL DIRECTOR</label>
              <div class="col-sm-8">
                <% @order.regional.each do |user|  %>
                    <% if user[:selected] %>
                        <button class="btn btn-secondary btn-sm" disabled><%= user[:view] %></button>&nbsp;
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">COMMS DIRECTOR</label>
              <div class="col-sm-8">
                <% @order.comms.each do |user|  %>
                    <% if user[:selected] %>
                        <button class="btn btn-secondary btn-sm" disabled><%= user[:view] %></button>&nbsp;
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">DESIGNERS</label>
              <div class="col-sm-8">
                <% @order.art.each do |user|  %>
                    <% if user[:selected] %>
                    <button class="btn btn-secondary btn-sm" disabled><%= user[:view] %></button>&nbsp;
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">PROCESSORS</label>
              <div class="col-sm-8">
                <% @order.processor.each do |user|  %>
                    <% if user[:selected] %>
                        <button class="btn btn-secondary btn-sm" disabled><%= user[:view] %></button>&nbsp;
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card text-white border-secondary bg-info mb-3" >
          <div class="card-header"><b>PRE-SALES ORDER</b></div>
          <div class="card-body bg-light text-secondary">
            <div class="col text-right" style="padding-bottom: 2%;">
              <button class="btn btn-default btn-yellow" style="margin: 0% 1%;padding: .2% 5% !important;" ng-click="newEntry(order.id)">ADD AN ITEM</button>
            </div>
            <table class="table">
              <thead class="table-light">
              <tr>
                <th scope="col">CATEGORY</th>
                <th scope="col">ITEM + SKU</th>
                <th scope="col">PCS</th>
                <th scope="col">PER ITEM</th>
                <th scope="col">TOTAL</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @order_entries.each do |entry|%>
                  <tr>
                    <td><%= entry.category_name %></td>
                    <td><%= entry.product_name %></td>
                    <td><%= entry.quantity  %></td>
                    <td><%= entry.price %></td>
                    <td><%= (entry.quantity.nil? ? 0 : entry.quantity) * (entry.price.nil? ? 0 : entry.price) %></td>
                    <td><button class="btn btn-nav-selected btn-nav-selected-circle" ng-click="editEntry(entry.id)"><i class="fa fa-pencil"></i></button></td>
                    <td><button class="btn btn-danger btn-nav-selected-circle" ng-click="showConfirm(entry.id)"><i class="fa fa-trash"></i></button></td>
                  </tr>

              <% end %>


              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
    $(document).ready(function (){
        $('.orders_and_order_form').css({'height': ($( window ).height() - 110)})
        $(window).resize(function(){
            var screenHeight = $( window ).height() - 110;
            $('.orders_and_order_form').height(screenHeight)
        })

    });
</script>
