<% if @order.present? %>
    <%= render "orders/modals/email_form" %>
    <%= render "orders/modals/add_order_entries" %>
    <%= render "orders/modals/manage_users" %>
    <%= render "orders/modals/attachments" %>
    <%= render "orders/modals/item_details" %>
    <%= render "orders/modals/edit_order_entries" %>
    <%= render "orders/modals/entry_history" %>
    <%= render "orders/modals/file_upload" %>
<% end %>
<% if @order.present? && @orders.present? %>
    <div class="row" style="position:relative;">
      <div id="left" class="col-lg-3 orders_and_order_form" style="overflow-y: hidden; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 30% !important; max-width: 30% !important;">
        <div class="d-flex flex-row justify-content-center">
          <div class="search-box">
            <%= render 'search_filter_box' %>
          </div>
        </div>
        <nav style="margin-top: 15px;">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-orders" data-name="orders">Orders</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-messages" data-name="messages">Messages</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-notifications" data-name="notifications">Notifications</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane active" id="nav-orders">
            <div class="row">
              <div class="col orders_and_order_form_2" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 100% !important;" id="order_list">
                <%= render @orders %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="nav-messages">
            <div class="row">
              
                <div class="ibox" style="padding: 15px; width: 100%;">
                  <div class="ibox-title" style="border:none; padding-top: 0;">
                    <div id="message_items">
                      <%= render 'message_items', order: @order, chatroom: @chatroom_order  %>
                    </div>
                  </div>
                  <div class="ibox-content" id="order_messages" style="padding-left: 0;">
                    <div id="order_messages">
                      <%= render 'chatroom_tab', chatroom: @chatroom_order  %>
                    </div>
                  </div>
                  <div class="ibox-footer">
                      <div class="chat-message-form" id="chatroom_message">
                        <%= render '/chatroom_orders/chatroom_message', chatroom: @chatroom_order %>
                      </div>
                  </div>
                </div>
                
            </div>
          </div>
          <div class="tab-pane" id="nav-notifications">
            <div class="row">
              <div class="col orders_and_order_form_2" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 100% !important;">
                <table class="table table-striped">
                  <tbody id="notification_entry">
                    <%= render 'order_histories', order_histories: @order_histories %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
        <div id="show_order">
          <%= render 'show_order', order: @order, chatroom_order: @chatroom_order, order_entries: @order_entries %>
        </div>
      </div>

    </div>
<% else %>
    <style>
        #wrapper-div{width:100%; height:400px}
        .sample{height:20px; position:relative; margin: -20px -50px; width:150px; top:50%; left:50%;}
    </style>

    <div class="row" style="position:relative;">
      <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
        <div class="row">
          <div class="col padding-left" id="wrapper-div">
            <a href="<%= new_order_path %>" class="sample" style="text-align: center;"><i class="fa fa-plus-circle fa-5" aria-hidden="true" style="font-size: 5em;"></i><br/>Add New Quote</a>
          </div>
        </div>
      </div>
    </div>
<% end %>


<script type="text/javascript">
    $('#search_form').on('submit', function() {
      var filters = document.querySelectorAll('.filter-link');
      var input = document.querySelector('.search-form-field');
      if (input.value) {
        $.each(filters, function(i, el) {
          var url = new URL(el.href);
          url.searchParams.set('search[term]', input.value);
          el.href = url.href;
        });
      }
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var name = e.target.dataset.name;
      var input = document.querySelector('.search-form-field');
      var order_id = document.querySelector('#chatroom_msgs').dataset.chatroomId;
      var hiddenOnMsgs = document.querySelectorAll('.hidden-on-msg');
      var linkToModify = document.querySelectorAll('.link-to-modify');

      input.value = null;
      if (name === 'messages') {
        $('#search_form').attr('action', '/dynamic_messages/' + order_id + '.js');
        $.each(hiddenOnMsgs, function(index, value) {
          value.classList.add('d-none');
        });
        $.each(linkToModify, function(index, value) {
          value.href = value.href.replace('/orders.js', '/dynamic_messages/' + order_id + '.js');
        });
      } else if (name === 'orders') {
        $('#search_form').attr('action', '/orders.js');
        $.each(hiddenOnMsgs, function(index, value) {
          value.classList.remove('d-none');
        });
        $.each(linkToModify, function(index, value) {
          value.href = value.href.replace('/dynamic_messages/' + order_id + '.js', '/orders.js');
          value.href = value.href.replace('/filter_notifications/' + order_id + '.js', '/orders.js');
        });
      } else if (name === 'notifications') {
        $('#search_form').attr('action', '/filter_notifications/' + order_id + '.js');
        $.each(hiddenOnMsgs, function(index, value) {
          value.classList.add('d-none');
        });
        $.each(linkToModify, function(index, value) {
          value.href = value.href.replace('/orders.js', '/filter_notifications/' + order_id + '.js');
        });
      }
    });

    $('#new_order_entry').submit(function() {
        return setAttributesOnForm($(this));
    });

    $('#edit_order_entry').submit(function() {
        return setAttributesOnForm($(this));
    });

    Dropzone.options.pictureUpload = {
        maxFiles:1,
        acceptedFiles: '.png,.jpg',
        success: function(file, response) {
            $('#pictureUpload').modal('hide')
            this.removeFile(file);
            var order_entry_id = $('#order_entry_id_2').val();
            var pic_id = 'pic' + order_entry_id + response.id
            $("#pic1").attr("src",response.picture_url);
            $("#"+pic_id).attr("src",response.picture_url);
        }
    };
    var addNewProductDropzone = new Dropzone("#new_order_entry", {
        url: '/order_entries',
        addRemoveLinks: true,
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 10,
        previewsContainer: '#dropzoneAddPreview',
        clickable: '#dropzoneAddPreview',

        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            myDropzone = this; // closure

            this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
                    $('#new_order_entry').submit();
                }
                else {
                    setAttributesOnForm($('#new_order_entry'));
                    myDropzone.processQueue();

                }
            });
            this.on("successmultiple", function(files, response) {
                // Gets triggered when the files have successfully been sent.
                // Redirect user or notify of success.
                var data = response;
                location.reload(true);

            });
        }
    });
    $(function(){
        var textContent = "Estimate Request<br/><br/>Hello<br/><br/>We’d like to recieve a quotation on the following items below with the listed specs. Attached are the mock ups and print ready files below.<br/><br/>Please get back to us before in a few days.<br/><br/>Thanks,<br/><%= current_user.first_name + " " + current_user.last_name %><br/>Regency Management"
        $(".textarea-format").jqte({remove: false,rule: false,unlink: false, });
        $(".textarea-format").jqteVal(textContent);
        $("div#order-<%= @order.id %>").addClass('orange-left');
        $('.ibox-content').slimScroll({
          railOpacity: 0.4,
          start: 'bottom',
          height: '500px',
        });
        
        $("div#order-<%= params[:order_id] %>").click();
        $("#order-<%= params[:order_id] %>")[0].scrollIntoView({
            behavior: "smooth", // or "auto" or "instant"
            block: "start" // or "end"
        });
    });
</script>

<% if @product_id.present? && @order_entry_id.present? %>
    <script type="text/javascript">
        itemDetails(<%= @product_id %>, '<%= @order_entry_id %>');
    </script>
<% end %>
