<% if @order.present? %>
    <%= render "orders/modals/add_order_entries" %>
    <%= render "orders/modals/edit_order_entries" %>
    <%= render "orders/modals/manage_users" %>
    <%= render "orders/modals/item_details" %>
    <%= render "orders/modals/edit_attributes" %>
    <%= render "orders/modals/edit_free_flowing_fields" %>
<% end %>
<% if @order.present? && @orders.present? %>
<div class="row" style="position:relative;">
  <div id="left" class="col-lg-3 orders_and_order_form" style="overflow-y: hidden; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 30% !important; max-width: 30% !important;">
    <div class="row" style="position:relative;">
      <div class="col orders_and_order_form_2" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 100% !important;">
        <% @orders.each do |order| %>
            <div class="card border-secondary mb-3" style="box-shadow: 0 5px 15px rgba(33, 33, 33, .4);" >
              <div class="card-body bg-light text-secondary">
                <div class="row">
                  <div class="col-8">
                    <p class="lead">
                      <%= order.brand_branches %>
                    </p>
                    <h4><%= order.brand_name %></h4>
                    <p class="lead">
                      ORDER TICKET #<%= order.id %>
                    </p>
                  </div>
                  <div class="col-4 text-right">
                    <a href="<%= orders_path(:id => order.id )%>" class="btn btn-outline-dark btn-padding-margin">View</a>
                  </div>
                </div>
              </div>
              <div class="card-footer" style="text-transform: uppercase;">
                <%= order.created_date %> BY <%= order.created_by_name %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row" style="position:relative;margin-top:5%;">
      <div class="col orders_and_order_form_2" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 5% !important; flex: 0 0 100% !important;">
        <div class="stitched row">
          <div class="col">

            COMMS HERE...
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
    <div class="row">
      <div class="col padding-left">

        <h1><%= @order.brand_name %></h1>
        <p class="text-secondary">
          <% if @order.brand_branches.present? && !@order.brand_branches.nil? %>
              <span style="margin-right: 2%;">BRANCHES:</span>
              <%= @order.brand_branches %>
          <% end %>
        </p>
      </div>

      <div class="col text-right">
        <span style="margin-right: 2%;">
          <span class="text-secondary"><%= @order.updated_date %></span><br/>
          ORDER TICKET #<%= @order.id %>
        </span>
        <a class="btn btn-outline-dark btn-padding-margin"  href="<%= edit_order_path(@order) %>">Edit</a>
        <!-- <button class="btn btn-default btn-yellow" style="margin: 0% 1%;padding: .2% 5% !important;" data-toggle="modal" data-target="#addOrder">Add</button>-->
        <a href="<%= new_order_path %>" class="btn btn-dark btn-padding-margin" style="margin: 0% 1%;padding: .2% 5% !important;">Add</a>
      </div>

    </div>
    <!--  <div class="row"  >
          <div class="col padding-left text-center">
              <button class="btn btn-default {{order.status == 'Pre-Sales' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">PRE-SALES</button>
              <button class="btn btn-default {{order.status == 'Sales' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">SALES</button>
              <button class="btn btn-default {{order.status == 'Design' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">DESIGN</button>
              <button class="btn btn-default {{order.status == 'Processing' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">PROCESSING</button>
              <button class="btn btn-default {{order.status == 'Shipping' ? 'btn-success' : ''}}" style="margin: 0% 2%;padding: .2% 2%;">SHIPPING</button>
          </div>
      </div>-->
    <div class="row"  style="padding-bottom: 5%;">
      <div class="col padding-left">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-header"><b>USERS ASSIGNED TO THIS TICKET</b> <button class="btn btn-outline-light float-right btn-padding-margin" data-toggle="modal" data-target="#manageUsers">Manage Users</button></div>
          <div class="card-body bg-light text-secondary">

            <br>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">REGIONAL DIRECTOR</label>
              <div class="col-sm-8">
                <% OrderUser.regional_users(@order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">CLIENT CONTACTS</label>
              <div class="col-sm-8">
                <% OrderUser.client_contact_users(@order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">COMMS DIRECTOR</label>
              <div class="col-sm-8">
                <% OrderUser.comms_users(@order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ART</label>
              <div class="col-sm-8">
                <% OrderUser.art_users(@order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">DESIGNER</label>
              <div class="col-sm-8">
                <% OrderUser.designer_users(@order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">PROCESSORS</label>
              <div class="col-sm-8">
                <% OrderUser.processor_users(@order.id).each do |user| %>
                    <button class="btn btn-secondary btn-sm" disabled><%= [user.first_name, user.last_name].join(' ') %></button>&nbsp;
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card text-white border-secondary bg-info mb-3" >
          <div class="card-header"><b>QUOTE REQUEST/S</b></div>
          <div class="card-body bg-light text-secondary">
            <div class="col text-right" style="padding-bottom: 2%;">
              <button class="btn btn-outline-secondary btn-padding-margin" data-toggle="modal" data-target="#addOrderEntries">ADD AN ITEM</button>
            </div>
            <table class="table">
              <thead class="table-light">
              <tr>
                <th scope="col">CATEGORY</th>
                <th scope="col">ITEM + SKU</th>
                <th scope="col">PCS</th>
                <th scope="col">PER ITEM</th>
                <th scope="col">TOTAL</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @order_entries.each do |entry|%>
                  <tr>
                    <td><%= entry.category_name %></td>
                    <td> <a nohref style="cursor:pointer;color:#22773c;text-decoration:underline" onclick="itemDetails(<%= entry.product_id %>);"><%= entry.product_name %></a></td>
                    <td><%= entry.quantity  %></td>
                    <td><%= number_to_currency(entry.price, unit: "$ ", :precision => 2, :delimiter => ',') %> </td>
                    <td><%= number_to_currency((entry.quantity.nil? ? 0 : entry.quantity) * (entry.price.nil? ? 0 : entry.price), unit: "$ ", :precision => 2, :delimiter => ',') %> </td>
                    <td><button class="btn btn-outline-dark btn-nav-selected-circle" onclick="showEditOrderEntries(<%= entry.id %>)"><i class="fa fa-pencil"></i></button></td>
                    <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/order_entries/<%= entry.id %>" class="btn btn-outline-danger btn-nav-selected-circle" ><i class="fa fa-trash"></i></a></td>
                  </tr>

              <% end %>


              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
<% else %>
    <style>
        #wrapper-div{width:100%; height:400px}
        .sample{height:20px; position:relative; margin: -20px -50px; width:150px; top:50%; left:50%;}
    </style>

    <div class="row" style="position:relative;">
      <div class="col padding-left orders_and_order_form" style="overflow-y: auto; overflow-x: hidden">
        <div class="row">
          <div class="col padding-left" id="wrapper-div">
            <a href="<%= new_order_path %>" class="sample" style="text-align: center;"><i class="fa fa-plus-circle fa-5" aria-hidden="true" style="font-size: 5em;"></i><br/>Add New Quote</a>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script>
    $(document).ready(function (){
        $('.orders_and_order_form').css({'height': ($( window ).height() - 50)});
        $('.orders_and_order_form_2').css({'height': (($( window ).height() - 80) / 2)});
        $(window).resize(function(){
            var screenHeight = $( window ).height() - 50;
            var screenHeight2 = $( window ).height() - 80;
            $('.orders_and_order_form').height(screenHeight);
            $('.orders_and_order_form_2').height(screenHeight2 / 2);
        })
    });
</script>
