<form ng-submit="">
  <div class="row" >
    <div class="col padding-left padding-top-1">
      <h1><b>CREATE A NEW PROJECT</b></h1><br/>
    </div>
  </div>
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left padding-top-1">
      <h3><b>Project Information</b></h3><br/>
    </div>
  </div>
  <!--Brands-->
  <div class="row">
    <div class="col padding-left padding-top-1">
      <h5>Which brand is this for?</h5>
      <div class="input-group search-bar-padding">
        <input  type="text" autocomplete="off" placeholder="Search for the brand name." id="filterSearch" onkeyup="onSearchFilter();" class="form-control glow-input"/>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left padding-top-1">
      <h4><b>Choose from the applicable branches</b></h4><br/>
    </div>
  </div>
  <div class="row" >
    <div class="col search-bar-padding text-justify item-list">
      <% if @brands.present? %>
          <% @brands.each do |brand| %>
              <a class="btn btn-nav" href="<%= show_brand_inventories_path(:brand_id => brand.id) %>"><%= brand.name %></a>&nbsp;
          <% end %>
      <% end %>
    </div>
  </div>
  <!--Assign Users-->
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left padding-top-1">
      <h4><b>Assign a Team to this Project</b></h4><br/>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-2 col-form-label label-form col-form-label-right">Regional Director</label>
    <div class="col-sm-10">
      <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[regional][]" id="order_user_regional[]" multiple>
        <option></option>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row required">
    <label class="col-sm-2 col-form-label label-form col-form-label-right">Client Contacts</label>
    <div class="col-sm-10">
      <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[client_contact][]" id="order_user_client_contact[]" multiple>
        <option></option>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row required">
    <label class="col-sm-2 col-form-label label-form col-form-label-right">Communications</label>
    <div class="col-sm-10">
      <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[comms][]" id="order_user_comms[]" multiple>
        <option></option>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row required">
    <label class="col-sm-2 col-form-label label-form col-form-label-right">Art Director</label>
    <div class="col-sm-10">
      <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[art][]" id="order_user_art[]" multiple>
        <option></option>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row required">
    <label class="col-sm-2 col-form-label label-form col-form-label-right">Designers</label>
    <div class="col-sm-10">
      <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[designer][]" id="order_user_designer[]" multiple>
        <option></option>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row required">
    <label class="col-sm-2 col-form-label label-form col-form-label-right">Processor</label>
    <div class="col-sm-10">
      <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[processor][]" id="order_user_processor[]" multiple>
        <option></option>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

</form>