<div class="invoice" style="padding-top: 0;">
    <div class="invoice-company text-inverse f-w-600" style="margin: 0 -20px; color: #fff!important;background: #348ee3!important;padding: 20px;">
        <span class="pull-right hidden-print">
            <%= link_to edit_order_path(order), class: "btn btn-default m-r-5", style: "font-weight: 600; line-height: 20px; font-size: 11px; padding: 6px 11px;" do %>
                <i class="fa fa-edit t-plus-1 fa-fw fa-lg"></i>
                Edit Project
            <% end %>
            <%= link_to new_order_path, class: "btn btn-default m-r-5", style: "font-weight: 600; line-height: 20px; font-size: 11px; padding: 6px 11px; margin-top: 5px;" do %>
                <i class="fa fa-user-plus t-plus-1 fa-fw fa-lg"></i>
                Add Project
            <% end %>
        </span>
        <%= order.brand_name %><br>
        <small style="font-size: 11px;"><%= order.created_date %></small>
    </div>
    <div class="widget-header pointer-cursor" style="margin-bottom: 0;" data-toggle="collapse" data-target="#ticket_users" aria-expanded="true">
        <i class="fa fa-users t-plus-1 fa-fw fa-lg"></i>
        <h4 class="widget-header-title">Users Assigned to this Ticket</h4>
        <div class="widget-header-icon" style="padding-right: 0;">
            <button class="btn btn-white btn-sm pull-right" data-toggle="modal" data-target="#manageUsers-<%= order.id %>">
                <i class="fa fa-user-plus"></i> 
                Manage Users
            </button>
        </div>
    </div>
    <div class="invoice-header collapse show" id="ticket_users">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row m-b-4">
                    <label class="col-md-3 text-md-right col-form-label">Regional Directors</label>
                    <div class="col-md-8">
                        <% OrderUser.regional_users(order.id).each do |user| %>
                            <span class="badge badge-secondary" style="margin-top: 5px;"><%= [user.first_name, user.last_name].join(' ') %></span>
                        <% end %>
                    </div>
                    <label class="col-md-3 text-md-right col-form-label">Client Contacts</label>
                    <div class="col-md-8">
                        <% OrderUser.client_contact_users(order.id).each do |user| %>
                            <span class="badge badge-secondary" style="margin-top: 5px;"><%= [user.first_name, user.last_name].join(' ') %></span>
                        <% end %>
                    </div>
                    <label class="col-md-3 text-md-right col-form-label">Comms Director</label>
                    <div class="col-md-8">
                        <% OrderUser.comms_users(order.id).each do |user| %>
                            <span class="badge badge-secondary" style="margin-top: 5px;"><%= [user.first_name, user.last_name].join(' ') %></span>
                        <% end %>
                    </div>
                    <label class="col-md-3 text-md-right col-form-label">Art</label>
                    <div class="col-md-8">
                        <% OrderUser.art_users(order.id).each do |user| %>
                            <span class="badge badge-secondary" style="margin-top: 5px;"><%= [user.first_name, user.last_name].join(' ') %></span>
                        <% end %>
                    </div>
                    <label class="col-md-3 text-md-right col-form-label">Designer</label>
                    <div class="col-md-8">
                        <% OrderUser.designer_users(order.id).each do |user| %>
                            <span class="badge badge-secondary" style="margin-top: 5px;"><%= [user.first_name, user.last_name].join(' ') %></span>
                        <% end %>
                    </div>
                    <label class="col-md-3 text-md-right col-form-label">Processors</label>
                    <div class="col-md-8">
                        <% OrderUser.processor_users(order.id).each do |user| %>
                            <span class="badge badge-secondary" style="margin-top: 5px;"><%= [user.first_name, user.last_name].join(' ') %></span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-content">
        <div class="table-responsive">
            <table class="table table-invoice">
                <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="25%">ITEM + SKU</th>
                        <th class="text-center" width="20%">STATUS</th>
                        <th class="text-center" width="10%">PCS</th>
                        <th class="text-center" width="10%">PER ITEM</th>
                        <th class="text-center" width="10%">TOTAL</th>
                        <th class="text-right" width="20%">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <% order_entries.each do |entry|%>
                    <tr>
                        <td>
                            <% @pic_id = 'pic' + entry.id.to_s + '' + entry.product.id.to_s %>
                            <% if entry.product.image_data? %>
                                <%= image_tag entry.product.image_url(:original), id: @pic_id, class: "rounded product-image"%>
                            <% elsif entry.product.picture.exists? %>
                                <%= image_tag entry.product.picture.url, id: @pic_id, class: "rounded product-image"%>
                            <% else %>
                                <%= image_tag 'default-product.png', id: @pic_id, class: "rounded product-image"%>
                            <% end %>
                        </td>
                        <td style="vertical-align: middle;">
                            <span class="text-inverse"><%= entry.product_name %></span>
                        </td>
                        <td class="text-center">
                            <%= form_tag(change_status_order_entries_path(:id => entry.id), method: :post, remote: true, id: "form_order_status-#{entry.id}") do %>
                                <%= select_tag "status", options_for_select([["New" , 0 ], ["Quoting", 1], ["Pending Approval", 2], ["Ready to Process", 3], ["In Production", 4], ["Shipped", 5], ["Delivered", 6]], entry.status), :onchange => "this.form.submit();", class: "form-control" %>
                            <% end %>
                        </td>
                        <td class="text-center">
                            <%= entry.quantity  %>
                        </td>
                        <td class="text-center">
                            <%= number_to_currency(entry.price, unit: "$ ", :precision => 2, :delimiter => ',') %>
                        </td>
                        <td class="text-right">
                            <%= number_to_currency((entry.quantity.nil? ? 0 : entry.quantity) * (entry.price.nil? ? 0 : entry.price), unit: "$ ", :precision => 2, :delimiter => ',') %>
                        </td>
                        <td></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function (){
        console.log(Dropzone.options.my);
        $('.orders_and_order_form').css({'height': ($( window ).height() - 50)});
        $('.orders_and_order_form_2').css({'height': (($( window ).height() - 80) - 50)});
        $(window).resize(function(){
            var screenHeight = $( window ).height() - 50;
            var screenHeight2 = $( window ).height() - 80;
            $('.orders_and_order_form').height(screenHeight);
            $('.orders_and_order_form_2').height(screenHeight2 - 50);
        });
        $('.open-small-chat').on('click', function () {
            $(this).children().toggleClass('fa-comments').toggleClass('fa-remove');
            $('.small-chat-box').toggleClass('active');
        });
    });
</script>


