<div class="row" style="padding-top: 2%;">
  <div class="col-lg-2 padding-left">
    <h3>Details</h3>
    <div class="col input-group search-bar-padding">
    </div>
  </div>
</div>
<div class="row" style="padding-top: 1%;">
  <div class="col-lg-2 padding-left">
    <h4>Name</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.name %>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2 padding-left">
    <h4>Category</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.category_name %>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2 padding-left">
    <h4>Price</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.price %>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2 padding-left">
    <h4>Vendor Cost</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.vendor_price %>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2 padding-left">
    <h4>Specification</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.specs.nil? ? "" : @product.specs.html_safe %>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2 padding-left">
    <h4>Vendor Quote Prices</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.vendor_quote_prices.nil? ? "" : @product.vendor_quote_prices.html_safe %>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2 padding-left">
    <h4>Notes</h4>
  </div>
  <div class="col input-group search-bar-padding">
    <%= @product.notes.nil? ? "" : @product.notes.html_safe %>
  </div>
</div>