<h1 class="page-header">User Dashboard 
    <br>
    <small>Users time logs on <strong> <%= Date.parse(@filter_date.to_s).strftime("%B %d %Y") %> </strong></small>
</h1>
<div class="row">
    <div class="col-md-4">
        
        <%= form_for :filter, method: :get do |f| %>
            <div class=row>
                <div class="col-md-9">
                    <div class="input-group date" id="datetimepicker1">
                        <%= f.text_field :time_ind, class: "form-control", placeholder: "Date filter", required: "" %>
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <%= f.submit 'Filter', class: "btn btn-lime btn-sm m-r-5 m-b-5"%>
                </div>
            </div>
        <% end %>
       
        <div class="gray-bg ibox" style="margin-top: 10px;">
            <div class="widget-list widget-list-rounded m-b-30" data-id="widget">
                
                <% @timelogs.each do |timelog| %>
                    <%= link_to users_dashboard_path(timelog), remote: true do %>
                        <div class="widget-list-item">
                            <div class="widget-list-media">
                                <%= image_tag 'default-img.png', class: "rounded" %>
                            </div>
                            <div class="widget-list-content" style="border-top: 1px solid #f0f3f4">
                                <h4 class="widget-list-title"><%= [timelog.user.first_name, timelog.user.last_name].join(' ')  %></h4>
                                <p class="widget-list-desc"><%= timelog.description %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div> 
    <div class="col-md-7">
        <div id="user_timelogs">
            <% if @timelogs.present? %>
                <%= render 'timeline', user_timelogs: UserTimeLog.user_time_log(@timelogs.first.time_in, @timelogs.first.user_id) %>
            <% end %>
        </div>
    </div>
</div>
<script>
    
        $("#datetimepicker1").datetimepicker({
            format:'YYYY-MM-DD',
        });
    
</script>