From: <b><a href="mailto:<%= @sender.email %>?subject=RE:<%= @subject %>" target="_blank"><%= @sender.email %></a></b>

<br/>

<p><%= @email_template.content.html_safe %></p>

<br/>

<% if @order_entries.present? %>
<h3>Items to Quote: </h3>
<br/>
<p>
  <table>
    <thead>
      <th class="font-weight: bold;">Name</th>
      <th class="font-weight: bold;">Quantity (pcs)</th>
      <th class="font-weight: bold;">Attribute/s</th>
      <th class="font-weight: bold;">Specifications</th>
    </thead>
    <tbody>
      <% @order_entries.each do |order_entry| %>
        <tr>
          <td><%= order_entry.product.name %></td>
          <td><%= order_entry.quantity %></td>
          <td><%= ( order_entry.dynamic_fields.present? && !order_entry.dynamic_fields.nil? && order_entry.dynamic_fields != '' ) ?  order_entry.get_html_safe_fields.html_safe : '' %></td>
          <td><%= order_entry.specs %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<% end %>

