<br>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <% if @product.errors.any? %>
          <div class="alert alert-danger alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <ul style="margin-bottom: 0;">
                <% @product.errors.full_messages.each do |error_message| %>
                  <li>
                    <%= error_message if @product.errors.full_messages.first == error_message %> <br />
                  </li>
                <% end %>
              </ul>
          </div>
        <% end %>
        
        <%= form_for [:admin, @product], html: { class: "form-horizontal" } do |f| %>

          <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <% if @product.image_data? %>
                  <%= image_tag @product.image_url(:original), class: "img-circle circle-border m-b-md", style: "height: 150px; width: 150px; margin-bottom: 5px;" %>  
                <% else %>
                  <%= image_tag 'default-product.png', class: "img-circle circle-border m-b-md", style: "height: 150px; width: 150px; margin-bottom: 5px;" %>  
                <% end %>
                <br>
                 <label class="btn btn-w-m btn-link btn-xs btn-file" style="margin-left: 15px;">
                    Upload Image
                    <%= f.file_field :image, id: 'message-attachment', style: "display: none;", title: "Image upload" %>
                </label>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <%= f.text_field :name, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Active</label>
              <div class="col-sm-10">
                <%= f.check_box :active, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Sales Tax</label>
              <div class="col-sm-10">
                <%= f.check_box :sales_tax, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">Vendor</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :vendor_id, Vendor.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">Hotel</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :hotel_id, Hotel.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <%= f.text_field :price, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Purchase Price</label>
              <div class="col-sm-10">
                <%= f.text_field :purchase_price, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">Product Type</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :product_type_id, ProductType.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">Account</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :product_account_id, ProductAccount.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">COGS</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :product_cog_id, ProductCog.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">Asset Account</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :product_asset_account_id, ProductAssetAccount.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Specs</label>
              <div class="col-sm-10">
                <%= f.text_field :specs, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Approval</label>
              <div class="col-sm-10">
                <%= f.text_field :approval_status, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Online Date</label>
              <div class="col-sm-10">
               <div class="input-group date">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <%= f.text_field :online_date, class: "form-control", value: @product.online_date.present? ? @product.online_date.strftime("%d-%m-%Y") : '', autocomplete: :off %>
                </div> 
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Offline Date</label>
              <div class="col-sm-10">
               <div class="input-group date">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <%= f.text_field :offline_date, class: "form-control", value: @product.offline_date.present? ? @product.offline_date.strftime("%d-%m-%Y") : '', autocomplete: :off %>
                </div> 
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Sales Unit</label>
              <div class="col-sm-10">
                <%= f.text_field :unit, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <%= f.text_field :description, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Base Product</label>
              <div class="col-sm-10">
                <%= f.text_field :base_product, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-2 control-label">Category</label>
              <div class="col-sm-10">
                 <%= f.collection_select( :category, Category.all, :id, :name, {include_blank: true}, {id: "category_selection", class: "chosen-select"})%>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Product Variant Type</label>
              <div class="col-sm-10">
                <%= f.text_field :variant_type, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Style</label>
              <div class="col-sm-10">
                <%= f.text_field :style, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Product Variants</label>
              <div class="col-sm-10">
                <%= f.text_field :variants, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Product Variants</label>
              <div class="col-sm-10">
                <%= f.text_field :variants, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Total Cost</label>
              <div class="col-sm-10">
                <%= f.text_field :total_cost, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Vendor Price</label>
              <div class="col-sm-10">
                <%= f.text_field :vendor_price, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Full_value</label>
              <div class="col-sm-10">
                <%= f.text_field :full_value, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Price Per Carton</label>
              <div class="col-sm-10">
                <%= f.text_field :price_per_carton, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Hotel Price</label>
              <div class="col-sm-10">
                <%= f.text_field :hotel_price, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Per Carton</label>
              <div class="col-sm-10">
                <%= f.text_field :per_carton, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Force in Stock</label>
              <div class="col-sm-10">
                <%= f.check_box :force_in_stock, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                  <%= link_to 'Cancel', admin_products_path, class: "btn btn-white" %>
                  <%= button_tag(type: 'Submit', class: "btn btn-primary") do %>
                    Save changes
                  <% end %> 
              </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.chosen-select').chosen({width: "100%"});

    $('.input-group.date').datepicker({
      format: 'dd-mm-yyyy',
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

  })
</script>