
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="true"><h5 style="color: #000000;"><b>Add a New Item</b></h5></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#nav-clone" role="tab" aria-controls="nav-clone" aria-selected="false"><h5 style="color: #000000;"><b>Clone an existing item</b></h5></a>
    <% if params[:controller] != 'inventories' %>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-exist" role="tab" aria-controls="nav-exist" aria-selected="false"><h5 style="color: #000000;"><b>Add an existing item</b></h5></a>
    <% end %>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane padding-top-1 active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
    <form action="<%= params[:controller] != 'inventories' ? '/products' : '/inventories/create_item' %>" method="POST" enctype="multipart/form-data" id="add-new-product">
      <input type="hidden"  name="dynamic_fields" id="dynamic_fields"/>
      <input type="hidden" name="current_controller" value="<%= params[:controller] %>">
      <% if params[:controller] != 'inventories' %>
        <input type="hidden" class="order_id" name="order_id" value="<%= @order.id %>">
      <% end %>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Product Name</h4>
          <div class="input-group search-bar-padding">
            <input type="text" class="form-control glow-input" name="product_name" id="product_name"/>
          </div>
        </div>
      </div>
      <!--Categories-->
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Select Category</h4>
          <div class="input-group search-bar-padding">
            <select class="categories form-control glow-input" data-live-search="true" name="item_category_id" id="item_category_id">
              <option></option>
              <% Category.order("id DESC").each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Select Vendor</h4>
          <div class="input-group search-bar-padding">
            <select class="categories form-control glow-input" data-live-search="true" name="vendor_id[]" id="vendor_id" multiple>
              <option></option>
              <% Vendor.order("id DESC").each do |vendor| %>
                <option value="<%= vendor.id %>"><%= vendor.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Quote By:</h4>
          <div class="input-group search-bar-padding">
            <select class="selectpicker2 form-control glow-input" data-live-search="true" name="quoted_by" id="order_entry_quoted_by">
              <option></option>
              <% User.order('id DESC').each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Hotel Price</h4>
          <div class="input-group search-bar-padding">
            <input step=".01"  class="form-control glow-input onlyNumbers" name="price" id="order_entry_price"/>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Vendor Cost</h4>
          <div class="input-group search-bar-padding">
            <input step=".01" class="form-control glow-input onlyNumbers" name="cost" id="order_entry_cost"/>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Quantity</h4>
          <div class="input-group search-bar-padding">
            <input step=".01" class="form-control glow-input onlyNumbers" name="quantity" id="order_entry_quantity"/>
          </div>
        </div>
      </div>


      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Specifications</h4>
          <div class="input-group search-bar-padding">
            <textarea class="form-control glow-input" id="specs" name="specs" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Vendor Price Quotes</h4>
          <div class="input-group search-bar-padding">
            <textarea class="form-control glow-input" id="vendor_quote_prices" name="vendor_quote_prices" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Notes</h4>
          <div class="input-group search-bar-padding">
            <textarea class="form-control glow-input" id="notes" name="notes" rows="3"></textarea>
          </div>
        </div>
      </div>
      <% if params[:controller] != 'inventories' %>
        <div class="row" style="padding-top: 2%;">
          <div class="col padding-left">
            <h4>Attachments</h4>
            <div class="input-group search-bar-padding dropzone">
              <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable">
                <div class="dz-message">Drag&drop</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left" >
          <span class="float-left"><h5>Attributes</h5></span>
          <a class="btn btn-outline-dark float-right" onclick="product_attributes();" >Add Attributes</a>
          <div class="padding-top-1" id="product_attributes" style="padding-top: 5%;">
            <% count = 1 %>
            <% StyleAttribute::FIELD_NAMES.each do |fn| %>
              <div class="row form-group removeclass<%= count %>" id="field-<%= fn %>">
                <div class="col-md-4 nopadding">
                  <div class="form-group">
                    <input type="hidden" class="form-control" id="order[field_name][]" name="order_field_name" value="<%= fn.titleize %>" />
                    <b><%= fn.titleize %></b>
                  </div>
                </div>
                <div class="col-md-6 nopadding">
                  <div class="form-group">
                    <input type="text" class="form-control default_attributes" id="order[field_value][]" name="order_field_value" value="" placeholder="Field Value">
                  </div>
                </div>
                <div class="col-md-2 nopadding">
                  <div class="form-group">
                    <button class="btn btn-outline-danger" type="button" onclick="remove_education_fields(<%= count %>);"> <span class="fa fa-trash" aria-hidden="true"></span> </button>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <% count = count+1 %>
            <% end %>
          </div>
        </div>

      </div>
      <div class="row" style="padding-top: 5%;">
        <div class="col padding-left" style="padding-right: 5%; padding-left: 5%;">
          <a class="btn btn-outline-dark" style="width: 100%;" id="save">Save this Item</a>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane padding-top-1" id="nav-clone" role="tabpanel" aria-labelledby="nav-clone-tab">
    <form action="<%= params[:controller] != 'inventories' ? '/products' : '/inventories/create_item' %>" method="POST" enctype="multipart/form-data"  id="add-clone-product">
      <input type="hidden" name="current_controller" value="<%= params[:controller] %>">
      <% if params[:controller] != 'inventories' %>
        <input type="hidden" class="order_id" name="order_id" value="<%= @order.id %>">
      <% end %>
      <input type="hidden"  name="dynamic_fields" id="clone_dynamic_fields"/>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Select Product to Copy it's Attributes</h4>
          <div class="input-group search-bar-padding">
            <select class="clone_products form-control glow-input" data-live-search="true" name="product_id" id="clone_product_id">
              <option></option>
              <% Product.order("id DESC").each do |product| %>
                <option value="<%= product.id %>"><%= product.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Product Name</h4>
          <div class="input-group search-bar-padding">
            <input type="text" class="form-control glow-input" name="product_name" id="clone_product_name"/>
          </div>
        </div>
      </div>
      <!--Categories-->
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Select Category</h4>
          <div class="input-group search-bar-padding">
            <select class="clone_categories form-control glow-input" data-live-search="true" name="item_category_id" id="clone_item_category_id">
              <option></option>
              <% Category.order("id DESC").each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Select Vendor</h4>
          <div class="input-group search-bar-padding">
            <select class="clone_categories form-control glow-input" data-live-search="true" name="vendor_id[]" id="clone_vendor_id" multiple>
              <option></option>
              <% Vendor.order("id DESC").each do |vendor| %>
                <option value="<%= vendor.id %>"><%= vendor.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>


      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Quote By:</h4>
          <div class="input-group search-bar-padding">
            <select class="selectpicker2 form-control glow-input" data-live-search="true" name="quoted_by" id="order_entry_quoted_by">
              <option></option>
              <% User.order('id DESC').each do |user| %>
                <option value="<%= user.id %>"><%= user.full_name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Hotel Price</h4>
          <div class="input-group search-bar-padding">
            <input step=".01"  class="form-control glow-input onlyNumbers" name="price" id="order_entry_price"/>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Vendor Cost</h4>
          <div class="input-group search-bar-padding">
            <input step=".01" class="form-control glow-input onlyNumbers" name="cost" id="order_entry_cost"/>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Quantity</h4>
          <div class="input-group search-bar-padding">
            <input step=".01" class="form-control glow-input onlyNumbers" name="quantity" id="order_entry_quantity"/>
          </div>
        </div>
      </div>


      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Specifications</h4>
          <div class="input-group search-bar-padding">
            <textarea class="form-control glow-input" id="clone_specs" name="specs" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Vendor Price Quotes</h4>
          <div class="input-group search-bar-padding">
            <textarea class="form-control glow-input" id="clone_vendor_quote_prices" name="vendor_quote_prices" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left">
          <h4>Notes</h4>
          <div class="input-group search-bar-padding">
            <textarea class="form-control glow-input" id="clone_notes" name="notes" rows="3"></textarea>
          </div>
        </div>
      </div>

      <% if params[:controller] != 'inventories' %>
        <div class="row" style="padding-top: 2%;">
          <div class="col padding-left">
            <h4>Attachments</h4>
            <div class="input-group search-bar-padding dropzone">
              <div id="dropzoneClonePreview" class="dropzone-previews form-control dz-clickable">
                <div class="dz-message">Drag&drop</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row" style="padding-top: 2%;">
        <div class="col padding-left" >
          <span class="float-left"><h5>Attributes</h5></span>
          <a class="btn btn-outline-dark float-right" onclick="clone_product_attributes();" >Add Attributes</a>
          <div class="padding-top-1" id="clone_product_attributes" style="padding-top: 5%;">

          </div>

        </div>

      </div>

      <div class="row" style="padding-top: 5%;">
        <div class="col padding-left" style="padding-right: 5%; padding-left: 5%;">
          <a class="btn btn-outline-dark" style="width: 100%;" id="save-clone">Save this Clone Item</a>
        </div>
      </div>
    </form>
  </div>
  <% if params[:controller] != 'inventories' %>
    <div class="tab-pane padding-top-1" id="nav-exist" role="tabpanel" aria-labelledby="nav-exist-tab">
      <form action="/order_entries/add_existing_item" method="POST" enctype="multipart/form-data"  id="add-existing-product">
        <input type="hidden" class="order_id" name="order_id" value="<%= @order.id %>">
        <div class="row" style="padding-top: 2%;">
          <div class="col padding-left">
            <h4>Select Existing Product</h4>
            <div class="input-group search-bar-padding">
              <select class="categories form-control glow-input" data-live-search="true" name="product_id" id="product_id">
                <option></option>
                <% Product.order("id DESC").each do |product| %>
                  <option value="<%= product.id %>"><%= product.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 5%;">
          <div class="col padding-left" style="padding-right: 5%; padding-left: 5%;">
            <button class="btn btn-outline-dark" style="width: 100%;" >Add this Existing Item</button>
          </div>
        </div>

      </form>
    </div>
  <% end %>
</div>
<script>
  room = <%= count %>;
</script>
