<br>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        
        <% if @user.errors.any? %>
          <div class="alert alert-danger alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <ul style="margin-bottom: 0;">
                <% @user.errors.full_messages.each do |error_message| %>
                  <li>
                    <%= error_message if @user.errors.full_messages.first == error_message %> <br />
                  </li>
                <% end %>
              </ul>
          </div>
        <% end %>
        
        <%= form_for [:admin, @user], html: { class: "form-horizontal" } do |f| %>

          <div class="form-group">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <%= f.email_field :email, class: "form-control", required: true %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Is Admin?</label>
              <div class="col-sm-10">
                <%= f.check_box :admin, class: "form-control", required: true %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <%= f.password_field :password, class: "form-control", required: true  %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Confirm Password</label>
              <div class="col-sm-10">
                <%= f.password_field :password_confirmation, class: "form-control", required: true  %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">First Name</label>
              <div class="col-sm-10">
                <%= f.text_field :first_name, class: "form-control", required: true  %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Last Name</label>
              <div class="col-sm-10">
                <%= f.text_field :last_name, class: "form-control", required: true  %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Billing Address</label>
            <div class="col-sm-10">
               <%= f.collection_select( :billing_address, Address.all, :id, :full_address, {include_blank: true}, {id: "manage_by_selection", class: "chosen-select"})%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Shipping Address</label>
            <div class="col-sm-10">
               <%= f.collection_select( :shipping_address, Address.all, :id, :full_address, {include_blank: true}, {id: "manage_by_selection", class: "chosen-select"})%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Mobile</label>
              <div class="col-sm-10">
                <%= f.text_field :mobile, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-10">
                <%= f.text_field :phone, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>


          <div class="form-group">
              <label class="col-sm-2 control-label">Regional Director</label>
              <div class="col-sm-4">
                <%= f.check_box :regional_director, class: "form-control" %>
              </div>

              <label class="col-sm-2 control-label">Client Contacts</label>
              <div class="col-sm-4">
                <%= f.check_box :client_contacts, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Communications</label>
              <div class="col-sm-4">
                <%= f.check_box :communications, class: "form-control" %>
              </div>

              <label class="col-sm-2 control-label">Art Director</label>
              <div class="col-sm-4">
                <%= f.check_box :art_director, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Designers</label>
              <div class="col-sm-4">
                <%= f.check_box :designers, class: "form-control" %>
              </div>

              <label class="col-sm-2 control-label">Processor</label>
              <div class="col-sm-4">
                <%= f.check_box :processor, class: "form-control" %>
              </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                  <%= link_to 'Cancel', admin_users_path, class: "btn btn-white" %>
                  <%= button_tag(type: 'Submit', class: "btn btn-primary") do %>
                    Save changes
                  <% end %> 
              </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.chosen-select').chosen({width: "100%"});
  })
</script>