<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute %></dd>
    <% end %>
    <dt class="attribute-label" id="users">
      Brands
    </dt>
    <dd class="attribute-data attribute-data--has-many">
      <% brands = UsersBrand.where("user_id = '#{page.resource.id}'") %>
      <div style="display: block;padding-bottom:3%;">
        <%= link_to "Add Brand", new_admin_users_brand_path(:user_id => page.resource.id)%>
      </div>
      <% if brands.present? %>
          <table style="margin-bottom: 2%;">
            <thead>
            <tr>
              <th class="cell-label cell-label--number cell-label--false" scope="col" role="columnheader" aria-sort="none"> Name  </th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <% brands.each do |brand| %>
                <tr class="js-table-row" tabindex="0" role="link" data-url="/admin/users_brands/<%= brand.id %>">
                  <td class="cell-data cell-data--number">
                    <a href="/admin/brands/<%= brand.brand_id %>" class="action-show">
                      <%= brand.name %>
                    </a>
                  </td>
                  <td><a class="action-edit" href="/admin/users_brands/<%= brand.id %>/edit">Edit</a></td>

                  <td><a class="text-color-red" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/admin/users_brands/<%= brand.id %>">Destroy</a></td>

                </tr>
            <% end %>
            </tbody>
          </table>

      <% end %>
    </dd>

    <dt class="attribute-label" id="users">
      Groups
    </dt>
    <dd class="attribute-data attribute-data--has-many">
      <% groups = UsersGroup.where("user_id = '#{page.resource.id}'") %>
      <div style="display: block;padding-bottom:3%;">
        <%= link_to "Add Group", new_admin_users_group_path(:user_id => page.resource.id)%>
      </div>
      <% if groups.present? %>
          <table style="margin-bottom: 2%;">
            <thead>
            <tr>
              <th class="cell-label cell-label--number cell-label--false" scope="col" role="columnheader" aria-sort="none"> Name  </th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <% groups.each do |group| %>
                <tr class="js-table-row" tabindex="0" role="link" data-url="/admin/users_groups/<%= group.id %>">
                  <td class="cell-data cell-data--number">
                    <a href="/admin/groups/<%= group.group_id %>" class="action-show">
                      <%= group.name %>
                    </a>
                  </td>
                  <td><a class="action-edit" href="/admin/users_groups/<%= group.id %>/edit">Edit</a></td>

                  <td><a class="text-color-red" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/admin/users_groups/<%= group.id %>">Destroy</a></td>

                </tr>
            <% end %>
            </tbody>
          </table>

      <% end %>
    </dd>
  </dl>
</section>
