<div class="accordion">
    <% time_logs.each do |day, day_count| %>

        <div class="widget-list-item" style="border-bottom: 1px solid #e7eaec;">
            <div class="widget-list-media">
                <span  class="border border-info label-outline">
                    <%= replace_unwanted_words remove_unwanted_words distance_of_time_in_words(day_count) %>
                </span>
            </div>
            <div class="widget-list-content">
                <h4 class="widget-list-title"><%= day.today? ? 'Today' : day.strftime('%A') %></h4>
                <p class="widget-list-desc"><%= day.strftime('%B %d, %Y') %></p>
            </div>
            <div class="widget-list-action">
                <span data-toggle="collapse" data-target="#timelog-<%= day.strftime('%B%d%Y') %>" aria-expanded="false" class="text-muted pull-right" styly="cursor: pointer;">
                    <i class="fa fa-ellipsis-h f-s-14"></i>
                </span>
            </div>
        </div>

        <div class="project-list collapse" id="timelog-<%= day.strftime('%B%d%Y') %>">
            <table class="table table-hover" style="margin-bottom: 0;">
                <tbody>
                    <% UserTimeLog.log_details(current_user.id, day).each do |detail| %>
                        <tr>
                            <td class="project-title" style="padding-left: 20px;">
                                <h3 style="margin-bottom: 0; margin-top: 0;">
                                    <%= replace_unwanted_words remove_unwanted_words distance_of_time_in_words(detail.time_out, detail.time_in, include_seconds: true) %>
                                </h3>
                                <small>Duration</small>
                            </td>
                            <td class="project-title">
                                <strong><%= detail.description.truncate(35) %></strong>
                                <br>
                                <small>Working on</small>
                            </td>
                            <td class="project-title">
                                <strong><%= detail.time_in.strftime("%I:%M %P") %></strong>
                                <br>
                                <small>Time in</small>
                            </td>
                            <td class="project-title">
                                <strong><%= detail.time_out.strftime("%I:%M %P") %></strong>
                                <br>
                                <small>Time out</small>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>