<div class="modal fade bd-example-modal-lg modal-gray" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="manageUsers">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Assign a Team to this Ticket</h5>
        <h6 class="modal-title model-header-margin">(Manage User to Assign on this Order) [EDIT]</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="edit_order_user" action="/orders/update_assign_user" accept-charset="UTF-8" method="post">
          <input type="hidden" name="order_user[order_id]" id="order_user_order_id" value="<%= @order.id %>">
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">REGIONAL DIRECTOR</label>
            <div class="col-sm-10">
              <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[regional][]" id="order_user_regional[]" multiple>
                <option></option>
                <% if @users.present? %>
                    <% @users.each do |user| %>
                        <% @bol = true %>
                        <% @order.regional.each do |regional|  %>
                            <% if regional[:selected] %>
                                <% if regional[:id] == user.id %>
                                    <option value="<%= user.id %>" selected><%= user.full_name %></option>
                                    <% @bol = false %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if @bol %>
                            <option value="<%= user.id %>"><%= user.full_name %></option>
                        <% end %>
                    <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">COMMS DIRECTOR</label>
            <div class="col-sm-10">
              <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[comms][]" id="order_user_comms[]" multiple>
                <option></option>
                <% if @users.present? %>
                    <% @users.each do |user| %>
                        <% @bol = true %>
                        <% @order.comms.each do |comms|  %>
                            <% if comms[:selected] %>
                                <% if comms[:id] == user.id %>
                                    <option value="<%= user.id %>" selected><%= user.full_name %></option>
                                    <% @bol = false %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if @bol %>
                            <option value="<%= user.id %>"><%= user.full_name %></option>
                        <% end %>
                    <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">ART DIRECTOR</label>
            <div class="col-sm-10">
              <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[art][]" id="order_user_art[]" multiple>
                <option></option>
                <% if @users.present? %>
                    <% @users.each do |user| %>
                        <% @bol = true %>
                        <% @order.art.each do |art|  %>
                            <% if art[:selected] %>
                                <% if art[:id] == user.id %>
                                    <option value="<%= user.id %>" selected><%= user.full_name %></option>
                                    <% @bol = false %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if @bol %>
                            <option value="<%= user.id %>"><%= user.full_name %></option>
                        <% end %>
                    <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">PROCESSOR</label>
            <div class="col-sm-10">
              <select class="selectpicker form-control glow-input" data-live-search="true" name="order_user[processor][]" id="order_user_processor[]" multiple>
                <option></option>
                <% if @users.present? %>
                    <% @users.each do |user| %>
                        <% @bol = true %>
                        <% @order.processor.each do |processor|  %>
                            <% if processor[:selected] %>
                                <% if processor[:id] == user.id %>
                                    <option value="<%= user.id %>" selected><%= user.full_name %></option>
                                    <% @bol = false %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if @bol %>
                            <option value="<%= user.id %>"><%= user.full_name %></option>
                        <% end %>
                    <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="buttons pull-left">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
        <div class="buttons pull-right">
          <button type="button" class="btn btn-info" onclick="submitForm('edit_order_user')">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>