<div class="row" style="position:relative; height: 100%;">
  <div class="col-md-4">
    <div class="gray-bg ibox">
      <div class="ibox-title">
          <h5>Order Chatrooms</h5>
      </div>
      <div class="ibox-content">
        <div class="dd" id="nestable2">
          <ol class="dd-list">
            <% @chatroom_orders.each do |chatroom| %>
              <li class="dd-item no-drag" data-id="<%= chatroom.id %>">
                  <%= link_to chatroom_order_load_messages_path(chatroom),
                    id: "chatroom_id_#{chatroom.id}",
                    class: "ddd-handle", 
                    style: "width: 100%;", 
                    remote: true do %>
                      <span class="label label-info"><i class="fa fa-cog"></i></span>
                      <%= "Order-#{chatroom.id}" %>
                  <% end %>
                <% if chatroom.products.present? %>
                  <ol class="dd-list">
                      <% chatroom.order_entries.each do |oe| %>
                        <li class="dd-item" style="padding-top: 0;">
                            <%= link_to chatroom_order_order_entry_load_item_messages_path(chatroom_order_id: chatroom, order_entry_id: oe),
                              id: "order_entry_id_#{oe.id}",
                              class: "ddd-handle", 
                              style: "width: 100%;", 
                              remote: true do %>
                                <%= oe.product[:name] %>
                            <% end %>
                        </li>
                      <% end %>
                  </ol>
                <% end %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="gray-bg ibox" style=" background-color: #f3f3f4!important;">
      <div class="ibox-title">
        <div  id="chatroom_title">
          <%= render 'chatroom_title', chatroom: @chatroom_orders.first %>
        </div>
      </div>
      <% if @chatroom_orders.first.present? %>
        <div class="ibox-content" id="chat_messages">
          <div class="feed-activity-list" >
            <%= render '/messages/messages', active_room: @chatroom_orders.first, messages: @chatroom_orders.first.messages.order(created_at: :desc).limit(100).reverse %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="chat-message-form" id="chatroom_message">
      <%= render 'chatroom_message', chatroom: @chatroom_orders.first %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {

      $('.ibox-content').slimScroll({
          railOpacity: 0.4,
          start: 'bottom',
          height: '550px',
      });

      var chat_messages = document.getElementById('chat_messages');
      var height = chat_messages.scrollHeight;
      $(chat_messages).scrollTop(height);

    $('#nestable2').nestable({});
    $('#nestable2').nestable('collapseAll');
    <% if params[:order_id].present? %>
      $("#chatroom_id_<%= params[:order_id] %>")[0].click();
    <% end %>

    <% if params[:order_entry_id].present? %>
      $("#order_entry_id_<%= params[:order_entry_id] %>")[0].click();
    <% end %>
  })
</script>
