<div class="page-container fade page-sidebar-fixed page-header-fixed show" id="page-container">
    <div id="header" class="header navbar-default">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <%= link_to authenticated_root_path, class: "navbar-brand" do %>
                        <%= image_tag 'logo.png' %>
                        <b>Boston Pediatric</b> Dental Group
                    <% end %>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14" aria-expanded="true">
                            <i class="fa fa-bell"></i>
                            <span class="label"><%= front_notification_count %></span>
                        </a>
                        <ul class="dropdown-menu media-list dropdown-menu-right" x-placement="bottom-end" style="width: 320px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-314px, 50px, 0px);">
                            <li class="dropdown-header">NOTIFICATIONS (<%= front_notification_count %>)</li>
                            <% if front_notification_count === 0 %>
                                <li class="text-center text-warning">
                                    No new notifications
                                </li>
                            <% end %>
                            <% front_unread_notifications.limit(6).each do |notification| %>
                                <% if notification.auditable_type === 'Message'  %>
                                    <li class="media">
                                        <%= link_to channels_path do %>
                                            <div class="media-left">
                                                <i class="fa fa-comments media-object bg-silver-darker"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><%= notification.user.full_name %></h6>
                                                <p style="font-size: 12px;"><%= notification.audited_changes['body'] %></p>
                                                <div class="text-muted f-s-11"><%= time_ago_in_words(notification.created_at) %> ago</div>
                                            </div>
                                        <% end %>
                                    </li>
                                <% else %>
                                    <li class="media">
                                        <%= link_to dashboards_path do %>
                                            <div class="media-left">
                                                <i class="fa fa-clock media-object bg-silver-darker"></i>
                                                <i class="fas fa-stopwatch <%= notification.action === 'create' ? 'text-success' : 'text-warning' %> media-object-icon f-s-14"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><%= notification.action === 'create' ? "Time In at #{notification.audited_changes['description']}" : "Time Out" %></h6>
                                                <p style="font-size: 12px;"><%= notification.user.full_name %></p>
                                                <div class="text-muted f-s-11"><%= time_ago_in_words(notification.created_at) %> ago</div>
                                            </div>
                                        <% end %>
                                    </li>
                                <% end %>
                            <% end %>

                            <li class="dropdown-footer text-center">
                                <%= link_to 'View more', notifications_path %>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="d-none d-md-inline"><%= current_user.full_name %></span> <b class="caret"></b>
                            <input type="hidden" id="custId" name="user_ip" value="<%= current_user.current_sign_in_ip.present? ? current_user.current_sign_in_ip : '' %>">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <%= link_to 'Edit Profile', edit_user_path(current_user), class: "dropdown-item" %>
                            <div class="dropdown-divider"></div>
                            <% if user_signed_in? %>
                                <%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: "dropdown-item" %>
                            <% end %>
                        </div>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>

    <% if current_user.present? %>
        <%= render "layouts/static/sidebar_nav" %>
    <% end %>
    <div id="content" class="content">
        <div style="margin-top: 40px;">
            <%= yield %>
        </div>
    </div>
</div>