<div class="page-container fade page-sidebar-fixed page-header-fixed show" id="page-container">
    <div id="header" class="header navbar-default">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <%= link_to authenticated_root_path, class: "navbar-brand" do %>
                        <%= image_tag 'logo.png' %>
                        <b>Boston Pediatric</b> Dental Group
                    <% end %>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <ul class="navbar-nav navbar-right" id="user-notifications">
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14" aria-expanded="true">
                            <i class="fa fa-bell"></i>
                            <span id="notification-count" class="label" style="<%= front_notification_count > 0 ? '' : 'display: none;' %>">
                                <%= front_notification_count %>
                            </span>
                        </a>
                        <ul id="load_notifications" class="dropdown-menu media-list dropdown-menu-right" x-placement="bottom-end" style="width: 320px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-314px, 50px, 0px);">
                            <%= render 'layouts/notifications' %>
                        </ul>
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="d-none d-md-inline"><%= current_user.full_name %></span> <b class="caret"></b>
                            <input type="hidden" id="custId" name="user_ip" value="<%= current_user.current_sign_in_ip.present? ? current_user.current_sign_in_ip : '' %>">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <%= link_to 'Edit Profile', edit_users_user_path(current_user), class: "dropdown-item" %>
                            <div class="dropdown-divider"></div>
                            <% if user_signed_in? %>
                                <%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: "dropdown-item" %>
                            <% end %>
                        </div>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>

    <% if current_user.present? %>
        <%= render "layouts/static/sidebar_nav" %>
    <% end %>
    <div id="content" class="content">
        <div style="margin-top: 40px;">
            <%= yield %>
        </div>
    </div>
    <input type="hidden" id="browser_id" value="<%= current_user.id %>">
</div>
<script>
    $('.dropdown').on('show.bs.dropdown', function (event) {
        $.ajax({
            type: 'GET',
            dataType: 'script',
            url: '/load_notifications'
        });
    })
</script>