<!DOCTYPE html>
<html>
<head>
  <%# Created and Maintained by: Karl Xavier %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Regency Group | Official Page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" data-turbolinks-track="reload">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" data-turbolinks-track="reload">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" data-turbolinks-track="reload">
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js" data-turbolinks-track="reload"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <% if params[:controller] == 'inventories' && params[:action] == 'index' %>
      <%= javascript_include_tag 'Chart.min', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'charts-home', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>

<body>

  <% if ["Admin"].exclude? controller.class.name.split("::").first %>
    <%= render "layouts/user" %>
  <% else %>
    <%= render "layouts/admin" %>
  <% end %>

<%= render "search_results/full_screen_search" %>
<script type="text/javascript">
  $(function() {
    $('a[href="#search"]').on("click", function(event) {
      event.preventDefault();
      $("#search").addClass("open");
      $('#search > form > input[type="search"]').focus();
    });

    $("#search, #search button.close, #search i.close").on("click keyup", function(event) {
      if (
        event.target == this ||
        event.target.className.includes("close") ||
        event.keyCode == 27
      ) {
        $(this).removeClass("open");
      }
    });
  });
</script>
<script>
    feather.replace()
</script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
  <% if params[:controller] == 'orders' && (params[:action] == 'new' || params[:action] == 'edit') %>
  <%= javascript_include_tag 'order', 'data-turbolinks-track': 'reload' %>
<% end %>
<div id="modal-shows"></div><!-- For modal shows, partial rendering -->
</body>
</html>
