<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Regency Group | Official Page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" data-turbolinks-track="reload">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js" data-turbolinks-track="reload"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <% if params[:controller] == 'inventories' && params[:action] == 'index' %>
      <%= javascript_include_tag 'Chart.min', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'charts-home', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>

<body>

<% if current_user.present? %>
  <%= render "layouts/static/sidebar_nav" %>
<% end %>
<div class="page active" style="padding-bottom: 0;">
  <% if current_user.present? && params[:action] != 'index' && params[:action] != 'show' %>
      <a href="javascript:history.back()" class="badge badge-secondary btn btn-nav btn-back">Back</a>
  <% end %>
  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <%= render "layouts/static/notification" %>
      <%= yield %>
    </div>
  </section>
</div>
<div id="modal-shows"></div>
<div id="msg_preview" class="msg_modal">
  <span class="close_preview">&times;</span>
  <img class="msg_modal-content" id="img01">
</div>

<%= render "search_results/full_screen_search" %>
<script type="text/javascript">
  $(function() {
    $('a[href="#search"]').on("click", function(event) {
      event.preventDefault();
      $("#search").addClass("open");
      $('#search > form > input[type="search"]').focus();
    });

    $("#search, #search button.close, #search i.close").on("click keyup", function(event) {
      if (
        event.target == this ||
        event.target.className.includes("close") ||
        event.keyCode == 27
      ) {
        $(this).removeClass("open");
      }
    });
  });
</script>
<script>
    feather.replace()
</script>
</body>
</html>
